/*!
 * Main CSS for GAHTC Website
 */

/*
* Font-faces for custom serifed font
*/

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_DR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_I.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_RB.woff') format('woff');
    font-weight: normal;
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    outline: none;
}
















































































































































































/* bootstrap override on link highlighting */


/* justify all conent */

p {
    text-align: justify;
    font-family: 'LinuxLibertine';
}



















































































































































































/*li {
     font-family: 'LinuxLibertine';
 }
*/

h1 {
    font-weight: bold;
}

h3 {
    font-family: 'LinuxLibertine';
    font-size: 28px;
    font-style: italic;
}

a:hover,
a:focus {
    text-decoration: none;
}

body nav {
    background: url('images/oceancurrents.png');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -100px;
}

.navbar-nav .dropdown a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav .dropdown {
    border-right: 1px solid #636264;
}

.navbar {
    margin-bottom: 0;
    border: none;
    min-height: auto;
    background-color: #3A3A3C;
    box-shadow: 2px 3px 30px #969696;
}

.navbar-header-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar-header-holder .nav a {
    /*    padding: 0;
    margin-left: 15px;*/
    background-color: transparent;
}

.navbar-header-holder .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
}

.user-nav p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #A1A0A1;
    margin: 0;
}

.user-nav .user-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*    margin-left: 15px;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: #000;
}

.user-profile-dropdown-menu {
    /*    padding: 15px;*/
}

.navbar-header a img {
    width: 250px;
    height: auto;
}

.navbar .navigation-links {
    border-top: 1px solid #6A696B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-links>a {
    color: #fff;
    margin-right: 40px;
}

.navigation-links #dropdown-toggle:focus {
    background-color: rgba(33, 33, 33, 0.6);
}

.navigation-links .dropdown-menu {
    border: none;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(33, 33, 33, 0.6);
}

.navigation-links .dropdown-toggle .caret {
    margin-left: 10px;
}

.navbar-header-holder .user-nav {
    display: flex;
    align-items: center;
}

.navbar-header-holder .nav .dropdown .dropdown-menu {
    left: -109px;
}

.navbar-nav .dropdown-menu {
    background: url('images/oceancurrents.png') fixed;
    background-size: cover;
    background-position-y: -100px;
}

.navbar-nav .contact-us {
    display: none;
}

.container {
    flex-grow: 100;
}

.background-holder {
    flex-grow: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-holder .main-input {
    width: 90%;
}

.member-view {
    width: 100%;
    padding: 0 5%;
}

.member-view .heading {
    margin: 60px 0 40px 0;
    font-weight: bold;
}

.members-section .members-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.members-group .member {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member .member-heading {
    width: 80%;
    margin-bottom: 20px;
}

.member-heading .name {
    margin: 0;
    font-family: 'LinuxLibertine';
    font-weight: bold;
}

.member-heading span {
    font-size: 20px;
    font-family: 'LinuxLibertine';
    font-weight: normal;
    font-style: italic;
}

.member .member-main {
    height: 240px;
    border: 1px solid #878787;
    display: flex;
    flex-direction: row;
}

.member-main .photo {
    flex-basis: 30%;
}

.member-main .description {
    flex-basis: 70%;
    border-left: 1px solid #878787;
    padding: 4%;
    font-family: 'LinuxLibertine';
}

.member-main .description .contacts p {
    margin-bottom: 0;
}


















































































































































































/** Browse by Modules Styles **/

.featured-modules-title {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 0;
    width: 85%;
    font-family: sans-serif;
    font-size: 14px;
    color: #AAAAAA;
}

.featured-modules .image-container {
    width: 400px;
    height: 250px;
    display: inline-block;
    background-size: cover !important;
    margin-right: 15px;
}

.image-container .title-container {
    height: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.title-container h4 {
    margin: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background: rgba(43, 43, 44, .8);
    padding: 10px;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
}

.title-container a {
    color: #fff;
}

.featured-modules {
    padding: 20px 0;
    border: 1px solid #D0D0D0;
    overflow-x: scroll;
    white-space: nowrap;
}

.all-modules-title {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 14px;
    color: #AAAAAA;
    width: 85%;
    font-family: sans-serif;
}

.all-modules {
    width: 85%;
    margin: 0 auto;
}

//     .all-modules .panel {
//     background: #FAFAFA;
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
//     box-shadow: 4px 4px 40px #dadada;
// }
.created-by {
    font-size: 12px;
    font-family: sans-serif;
    color: #AAAAAA;
    margin-bottom: 2px;
}






















































































































































































/* Browswe by Lecture Styles */

.jump-to-module-menu {
    background: #E4E4E4;
    padding-top: 40px;
    padding-bottom: 20px;
}

.jump-to-module-menu section {
    width: 80%;
    margin: 0 auto;
}

.jump-to-module-menu h3 {
    font-family: sans-serif;
    color: #131313;
    border-bottom: 1px solid #8C8C8C;
    padding-left: 20px;
    font-style: normal;
}

.lectures-titles {
    padding: 20px 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #8C8C8C;
}

.lectures-titles a {
    font-size: 22px;
    color: #424242;
    font-family: 'LinuxLibertine', serif;
}

.module-lecture-container {
    background: #FAFAFA;
    padding: 4%;
}

.module .lecture-module-title {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    color: #AAA9AA;
    font-style: normal;
}

.module-lectures-container {
    border-left: 1px solid #CFCFCF;
    padding-top: 50px;
    padding-left: 50px;
}

.module-lectures-container .lecture {
    background: #fff;
    padding: 20px 40px;
    box-shadow: 1px 1px 10px #dadada;
    border-radius: 4px;
    display: flex;
}

.lecture .lecture-first-slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lecture-first-slide-container .lecture-first-slide {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border: 1px solid #D8D8D8;
}

.lecture .lecture-first-slide {
    width: 240px;
    height: 190px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.lecture .lecture-description {
    flex-basis: 80%;
    margin-left: 50px;
}

.lecture-description h4 {
    font-family: 'LinuxLibertine', serif;
    font-size: 28px;
    color: #000;
}

.lecture-description p {
    color: #898989;
}

.lecture-description .support {
    display: flex;
}

.lecture-description .support p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.lecture-description .support ul {
    padding-left: 0;
}

.lecture-description .support ul li {
    display: inline-block;
    color: #777777;
}


.module-lectures-container .lecture-description p {
    line-height: 1.4em;
    max-height: 9.8em;
    overflow: hidden;
}

















































































































































































/* Browse by Lecture Styles*/


/*// .module .panel-heading {
//     background: #EFEFEF;
//     color: #020202;
//     padding: 15px 20px;
// }
// .panel-title>span {
//     color: #070707;
//     font-family: 'LinuxLibertine', serif;
//     font-weight: normal;
//     font-size: 24px;
// }*/


/** Browse by Modules Styles mw**/

.lecture-document .image-holder {
    width: 180px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: contain !important;
    border: 1px solid #D8D8D8;
    margin-right: 40px;
}

.preview-slides {
    font-family: sans-serif;
    background: rgba(51, 51, 51, .6);
    text-align: center;
    color: #fff;
    padding: 5px 0;
    border: none;
}


.lecture-document .lecture-description {
    flex-grow: 1;
}

.lecture-description .title-and-buttons {
    display: flex;
    justify-content: space-between
}

.lecture-description h3 {
    text-decoration: underline;
}

.lecture-description .supporting-docs {
    display: inline-block;
}

.lecture-description span {
    color: #777777;
}


.download-lecture {
    display: flex;
}

.download-lecture button {
    margin-right: 15px;
}

.download-lecture .dropdown {
    margin-left: 15px;
}

.download-lecture .dropdown button {
    height: 100%;
}



.related-modules-container {
    border-bottom: 1px solid #F3F3F3;
}


.member-comments-container {
    border-bottom: 1px solid #F3F3F3;
}



@media (max-width: 1024px) {
    .member-view {
        padding: 0 3%;
    }

    .members-group .member {
        flex-basis: 49%;
    }
}

@media (min-width: 768px) {
    .background-holder .main-input {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .members-group .member {
        margin-bottom: 40px;
    }

    .members-section .members-group {
        flex-wrap: wrap;
    }

    .members-group .member {
        flex-basis: 100%;
    }

    h1 {
        font-size: 36px;
    }
}

@media (max-width: 425px) {
    .member .member-main {
        flex-direction: column;
        height: auto;
    }

    .navbar-header a img {
        width: 150px;
        height: auto;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .navbar-header-holder {
        display: block;
    }

    .navbar-header-holder .user-nav {
        display: none;
    }

    .navigation-links>a {
        display: none;
    }

    .navbar-nav .contact-us {
        display: block;
    }
}

.main-input form button {
    margin-top: -39px;
}

blockquote p {
    font-size: 18px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    margin-left: auto;
    margin-right: auto;
}
















































































































































































/* Background Image */

#background,
#background li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/Old_dispensary_front.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

#background {
    z-index: -1;
    margin: 50px 0 0 0;
    padding: 0;
}

@media (min-width: 768px) {
    #background {
        margin: 100px 0 0 0;
    }
}

.fadein {
    display: none;
}

















































































































































































/* Navbar */

@media (min-width: 1200px) {
    .navbar-right {
        margin-top: -50px;
    }
}

















































































































































































/* footer */

.footer {
    position: static;
    bottom: 20px;
    right: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background: transparent;*/
}

.footer p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    color: #333;
    font-weight: bold;
    margin: 0;
    margin-right: 20px;
    padding: 8px 0;
}

.container-fluid .text-muted {
    margin: 8px 0;
}

.text-muted {
    color: #eee;
}


















































































































































































/* button group */

.lowerLeft {
    position: absolute;
    bottom: 100px;
    right: 10px;
}

@media (min-width: 768px) {
    .lowerLeft {
        bottom: 50px;
        right: 10px;
    }
}

















































































































































































/* Search Bar */

.searchbar {
    margin-top: 10%;
}

.whitetext {
    color: #fff;
}

.greybackground {
    background-color: rgba(204, 204, 204, 0.5);
}

















































































































































































/* Search results page */

.searchText {
    margin-top: 6px;
}

.resultsScroll {
    margin-right: -1px;
    border-right: 1px solid #ccc;
}

.resultsScrollBundle {
    margin-right: -1px;
    border-right: 1px solid #ccc;
}

.selectedAddDropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-body {
    height: auto;
    max-height: 100vh;
    overflow: auto;
}

.result {
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.result:hover {
    background-color: #ddd;
}

.result.active {
    background-color: #ddd;
}

.resultTitle {
    padding-left: 0px;
}

.swapem {
    color: #444444;
    font-size: 16px;
    margin-right: 10px;
}

.bundleResult {
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.bundleResult:hover {
    background-color: #ddd;
}

.bundleResult.active {
    background-color: #ddd;
}

.bundleList {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.rightSidebar {
    padding-top: 15px;
    border-left: 1px solid #ccc;
}

.noTextDecoration:hover,
.noTextDecoration:focus {
    text-decoration: none;
}

.noTopMargin {
    margin-top: 0px;
    line-height: 1.4;
}

.noLeftPadding {
    padding-left: 0;
}

.noRightPadding {
    padding-right: 0;
}

.zeroBorderRadiusRight {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.zeroBorderRadiusLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.noBorderLeft {
    border-left-width: 0;
}

.noBorderRight {
    border-right-width: 0;
}

.marginLeftNegative5 {
    margin-left: -5px;
}

.marginBottom0 {
    margin-bottom: 0;
}

.marginBottom15 {
    margin-bottom: 15px;
}

.marginBottom100 {
    margin-bottom: 100px;
}

.marginRight15 {
    margin-right: 15px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginLeftBottom20 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.textbox {
    height: 20vh;
    overflow: auto;
    border: 1px solid #ccc;
    margin: 10px 0px;
    padding: 10px 10px 0px 10px;
}

.dropdown-menu .divider {
    background-color: #ddd;
}

.label-ls {
    background-color: #756BB1;
}

.label-cs {
    background-color: #7796b1;
}

.label-default:hover {
    color: #f9f9f9;
    background-color: #999;
}

.backToTopLink {
    margin-top: -12px;
}

















































































































































































/*highlight text*/

.highlight {
    background: rgba(255, 230, 0, 0.5);
    padding: 5px 2px;
    margin: -5px -2px;
    border-radius: 3px;
    display: inline-block;
}

















































































































































































/* red button backgrounds and text */

.gahtcRed {
    background: #BF413E;
}

.gahtcRedText {
    color: #BF413E;
}


















































































































































































/*content titles*/

.content-title {
    font-size: 22px;
    font-weight: 700;
}


















































































































































































/* button css with hover interactions */

.btn-img-hover-interaction {
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    float: left;
}

.button-text-ribbon {
    font-size: 20px;
    background: #222;
    color: #fff;
    margin: -32px 0px 0px 0px;
    padding: 5px 0px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    width: 100%;
}

.button-text-ribbon:hover {
    opacity: 0.9;
}

.btn-text-ribbon {
    margin-top: 5px;
    padding: 0;
    border-radius: 0;
    width: 100%;
}

.button-text-ribbon-opaque {
    font-size: 20px;
    background: #222;
    color: #fff;
    margin: 0;
    padding: 5px;
    opacity: 0.9;
}

.button-text-ribbon-opaque:hover {
    opacity: 1;
}


















































































































































































/* Add bottom padding to all containers */

.container {
    padding-bottom: 30px;
}


















































































































































































/* Add some padding to the top of the search template container */

.container.search-body {
    padding-top: 30px;
}

















































































































































































/* Feedback Form */

.feedback {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}

.feedback:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0269c2;
}

.updating {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
}

.updating:hover {
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
}


















































































































































































/* Admin Forms */

ul.as-selections li.as-original input {
    height: 39px !important;
}


.module-title {
    display: flex;
    justify-content: space-between;
    background: #EFEFEF;
    padding: 20px 40px;
    align-items: center;
}

.module-title button {
    border-radius: 50%;
    background: #333333;
    width: 30px;
    align-items: center;
    height: 30px;
    color: #fff;
    border: none;
}


.panel-group .panel {
    margin-bottom: 50px;
}

.panel h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    background: #EFEFEF;
    color: #000000;
    font-style: normal;
}

.panel-main {
    padding: 40px 30px;
    background: #FAFAFA;
}

.panel-main .row {
    margin: 0;
}

.panel-main section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.panel-main section p {
    font-size: 18px;
    line-height: 1.6em;
    max-height: 8em;
    overflow: hidden;
    color: #383838;
    margin-bottom: 0;
}

.panel-main section .readMore {
    background: none;
    border: none;
    text-decoration: underline;
    color: #BF413E;
    font-weight: bold;
}

.panel-main .created-by {
    font-size: 14px;
    font-family: sans-serif;
    color: #AAAAAA;
    margin-bottom: 2px;
}

.author-docs a {
    color: #5C0000;
}

.panel-section-footer {
    margin-top: 40px;
}


.panel-section-footer .buttons {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.buttons button {
    margin-left: 20px;
}

.panel footer a {
    text-align: center;
    background: #FAFAFA;
    font-family: 'LinuxLibertine', serif;
    padding: 10px 0;
    width: 100%;
    display: inline-block;
    border-top: 1px solid #E4E4E4;
    color: #B0B0B0;
    font-size: 14px;
}


.panel-expand {
    background: #FAFAFA;
}

.panel-expand-item {
    width: 90%;
    background: #fff;
    margin: 0 auto;
    padding: 30px 35px;
    display: flex;
    border: 1px solid #ece9e9;
}

.panel-expand-item .image-container {
    width: 180px;
    height: 130px;
    background-size: contain !important;
    border: 1px solid #cdcdcd;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.panel-expand-item section {
    flex-grow: 1;
}

.panel-expand-item section h4 {
    font-family: 'LinuxLibertine', serif;
    text-decoration: underline;
    font-size: 22px;
    font-style: italic;
}

.panel-expand-item .lecture-description-text {
    font-size: 18px;
    margin-top: 10px;
}

.panel-expand-item .supporting-documents {
    font-family: sans-serif;
    font-size: 16px;
}

.panel-expand-container {
    padding: 0 20px;
}

.panel-expand-container h4 {
    border-bottom: 1px solid #ece9e9;
    margin-top: 0;
}


.title-buttons-group .buttons {
    display: flex;
    justify-content: flex-end;
}


.lecture-panel .image-container-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lecture-panel .image-container {
    width: 240px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    border: 1px solid #cdcdcd;
}

.lecture-panel .panel-main {
    background: #fff;
    padding: 40px 60px;
}


.lecture-panel .panel-main section {
    flex-basis: 80%;
}

.lecture-panel-section h4 {
    font-family: 'LinuxLibertine', serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.lecture-panel .lecture-panel-section p {
    font-size: 18px;
    color: #9C9C9C;
}

.lecture-panel footer a {
    background: #fff;
}

.lecture-panel .panel-expand {
    background: #fff;
}


.lecture-panel .lecture-documents {
    width: 55%;
    margin: 0 auto;
}

.lecture-documents .document {
    display: flex;
    justify-content: space-between;
}

.see-details {
    background: #333333;
    color: #fff;
}

.see-details:hover {
    color: #fff;
}

.terms-conditions {
    font-family: sans-serif;
    color: #b5b5b5;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
}