/*!
 * Main CSS for GAHTC Website
 */

/*
* Font-faces for custom serifed font
*/

@font-face {
	font-family: 'LinuxLibertine';
	src: url('../fonts/LinLibertine_DR.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LinuxLibertine';
	src: url('../fonts/LinLibertine_I.woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'LinuxLibertine';
	src: url('../fonts/LinLibertine_RI.woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'LinuxLibertine';
	src: url('../fonts/LinLibertine_RB.woff');
	font-weight: normal;
	font-weight: bold;
}

a:hover, a:focus {
	text-decoration: none;
}


/* Background Image */
#background, #background li { 
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	background: url('images/Lalibela.jpg');
	background-color: transparent; 
	background-size: cover; 
	background-position: center center; 
	background-repeat: no-repeat; 
	
}

#background { 
	z-index: -1;
	margin: 50px 0 0 0; 
	padding: 0; 
}

@media (min-width: 768px) { 
	#background { 
		margin: 100px 0 0 0; 
	}
}

.fadein {
	display: none;
}

/* Navbar */
.navbar-header {
	float: none;
}

@media (min-width: 1200px) { 
	.navbar-right {
		margin-top: -50px;
	}
}


/* Search Bar */
.searchbar {
	margin-top: 10%;
}

.whitetext {
	color: #fff;
}

.greybackground {
	background-color:rgba(204, 204, 204, 0.5);
}

/* Search results page */
.searchText {
	margin-top: 6px;
}

.resultsScroll {
	margin-right: -1px;
	border-right: 1px solid #ccc; 
}

.resultsScrollBundle {
	margin-right: -1px;
	border-right: 1px solid #ccc; 
}

.selectedAddDropdown {
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-body {
	height: auto;
	max-height: 100vh;
	overflow: auto;
}

.result {
	padding: 10px 0px;
	cursor: pointer;
	border-bottom: 1px solid #ccc; 
}

.result:hover {
	background-color: #ddd;
}

.result.active {
	background-color: #ddd;
}

.resultTitle {
	padding-left: 0px;
}

.swapem {
	color: #444444;
	font-size: 16px;
}

.bundleResult {
	padding: 10px 0px;
	cursor: pointer;
	border-bottom: 1px solid #ccc; 
}

.bundleResult:hover {
	background-color: #ddd;
}

.bundleResult.active {
	background-color: #ddd;
}

.bundleList {
	padding: 10px 0px;
	border-bottom: 1px solid #ccc; 
}


.rightSidebar {
	padding-top: 15px;
	border-left: 1px solid #ccc; 
}

.noTextDecoration:hover, .noTextDecoration:focus {
	text-decoration: none;
}

.noTopMargin {
	margin-top: 0px;
	line-height: 1.4;
}

.marginBottom15 {
	margin-bottom: 15px;
}

.marginRight15 {
	margin-right: 15px;
}

.marginTop30 {
	margin-top: 30px;
}

.textbox {
	height: 20vh;
	overflow: auto;
	border: 1px solid #ccc; 
	margin: 10px 0px;
	padding: 10px 10px 0px 10px;
}

.dropdown-menu .divider {
    background-color: #ddd;
}

.label-ls {
    background-color: #756BB1;
}

.label-default:hover {
	color: #f9f9f9;
	background-color: #999;
}


/* Add a of bottom padding to containers */
.container {
	padding-bottom:30px;
}


/* Feedback Form */
.feedback {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}

.feedback:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0269c2;
}

.updating {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
}

.updating:hover {
  color: #fff;
  text-decoration: none;
  background-color: #d9534f;
}



/* Admin Forms */
ul.as-selections li.as-original input {
    height: 39px !important;
}
