/*!
 * Main CSS for GAHTC Website
 */


/*
* Font-faces for custom serifed font
*/

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_DR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_I.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_RI.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'LinuxLibertine';
    src: url('../fonts/LinLibertine_RB.woff') format('woff');
    font-weight: normal;
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}






































































/* bootstrap override on link highlighting */


/* justify all conent */

p {
    text-align: justify;
    font-family: 'LinuxLibertine';
}





































































/*li {
     font-family: 'LinuxLibertine';
 }
*/

h1 {
    font-weight: bold;
}

h3 {
    font-family: 'LinuxLibertine';
    font-size: 28px;
    font-style: italic;
}

a:hover,
a:focus {
    text-decoration: none;
}

body nav {
    background: url('images/oceancurrents.png');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -100px;
}

.navbar-nav .dropdown a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav .dropdown {
    border-right: 1px solid #636264;
}

.navbar {
    margin-bottom: 0;
    border: none;
    min-height: auto;
    background-color: #3A3A3C;
    box-shadow: 2px 3px 30px #969696;
}

.navbar-header-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar-header-holder .nav a {
    /*    padding: 0;
    margin-left: 15px;*/
    background-color: transparent;
}

.navbar-header-holder .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: transparent;
}

.user-nav p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #A1A0A1;
    margin: 0;
}

.user-nav .user-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /*    margin-left: 15px;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: #000;
}

.user-profile-dropdown-menu {
    /*    padding: 15px;*/
}

.navbar-header a img {
    width: 250px;
    height: auto;
}

.navbar .navigation-links {
    border-top: 1px solid #6A696B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-links>a {
    color: #fff;
    margin-right: 40px;
}

.navigation-links #dropdown-toggle:focus {
    background-color: rgba(33, 33, 33, 0.6);
}

.navigation-links .dropdown-menu {
    border: none;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(33, 33, 33, 0.6);
}

.navigation-links .dropdown-toggle .caret {
    margin-left: 10px;
}

.navbar-header-holder .user-nav {
    display: flex;
    align-items: center;
}

.navbar-header-holder .nav .dropdown .dropdown-menu {
    left: -109px;
}

.navbar-nav .dropdown-menu {
    background: url('images/oceancurrents.png') fixed;
    background-size: cover;
    background-position-y: -100px;
}

.navbar-nav .contact-us {
    display: none;
}

.container {
    flex-grow: 100;
}

.background-holder {
    flex-grow: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-holder .main-input {
    width: 90%;
}

.member-view {
    width: 100%;
    padding: 0 5%;
}

.member-view .heading {
    margin: 60px 0 40px 0;
    font-weight: bold;
}

.members-section .members-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.members-group .member {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.member .member-heading {
    width: 80%;
    margin-bottom: 20px;
}

.member-heading .name {
    margin: 0;
    font-family: 'LinuxLibertine';
    font-weight: bold;
}

.member-heading span {
    font-size: 20px;
    font-family: 'LinuxLibertine';
    font-weight: normal;
    font-style: italic;
}

.member .member-main {
    height: 240px;
    border: 1px solid #878787;
    display: flex;
    flex-direction: row;
}

.member-main .photo {
    flex-basis: 30%;
}

.member-main .description {
    flex-basis: 70%;
    border-left: 1px solid #878787;
    padding: 4%;
    font-family: 'LinuxLibertine';
}

.member-main .description .contacts p {
    margin-bottom: 0;
}



































































/** Browse by Modules Styles **/

.featured-modules-title {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 0;
    width: 85%;
    font-family: sans-serif;
    font-size: 14px;
    color: #AAAAAA;
}

.featured-modules .image-container {
    width: 510px;
    height: 320px;
    display: inline-block;
    background-size: cover !important;
    margin-right: 15px;
}

.image-container .title-container {
    height: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.title-container h4 {
    margin: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background: rgba(43, 43, 44, .8);
    padding: 10px;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
}

.title-container a {
    color: #fff;
}

.featured-modules {
    padding: 20px 0;
    border: 1px solid #D0D0D0;
    overflow-x: scroll;
    white-space: nowrap;
}

.all-modules-title {
    margin: 0 auto;
    margin-top: 40px;
    font-size: 14px;
    color: #AAAAAA;
    width: 85%;
    font-family: sans-serif;
}

.all-modules {
    width: 85%;
    margin: 0 auto;
}

.all-modules .panel {
    background: #FAFAFA;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 4px 4px 40px #dadada;
}

.panel-group .module-footer {
    text-align: center;
    background: #FAFAFA;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 50px;
}

.module-heading {
    color: #070707;
    font-family: 'LinuxLibertine', serif;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    margin: 0;
    padding: 20px 40px;
    background: #EFEFEF;
}

.module-contents {
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
}


.panel-group .module-footer {
    box-shadow: 4px 4px 40px #dadada;
}

.panel-group .module-footer h4 {
    font-family: 'LinuxLibertine', serif;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    color: #BEBEBE;
}

.module-photo-container {
    width: 480px;
    height: 300px;
    background-size: cover !important;
}

.module-contents .module-text {
    flex-basis: 65%;
}

.module-text .description {
    overflow: hidden;
    font-size: 20px;
    text-overflow: ellipsis;
    position: relative;
    line-height: 1.6em;
    max-height: 9.6em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
}

.module-text .description:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
}

.module-text .created-by {
    font-size: 12px;
    font-family: sans-serif;
    color: #AAAAAA;
    margin-bottom: 2px;
}

.module-text footer {
    display: flex;
    justify-content: space-between;
}

.authors-docs .authors {
    display: flex;
}

.authors>p {
    margin-bottom: 4px;
}

.authors-docs .authors a {
    color: #BF413E;
    margin-right: 10px;
    font-weight: bold;
}

.authors-docs .authors a:hover {
    text-decoration: underline;
}

.authors-docs .docs p {
    font-family: sans-serif;
    font-size: 14px;
}

.download-module .button {
    background: #BF413E;
    border: none;
    border-radius: 4px;
    /*padding: 10px 15px 7px 15px;*/
    padding: 10px 20px;
    color: #fff;
    font-family: 'LinuxLibertine', serif;
}

/*// .module .panel-heading {
//     background: #EFEFEF;
//     color: #020202;
//     padding: 15px 20px;
// }
// .panel-title>span {
//     color: #070707;
//     font-family: 'LinuxLibertine', serif;
//     font-weight: normal;
//     font-size: 24px;
// }*/

/** Browse by Modules Styles **/

.lecture-container {
    margin: 0 4%;
}

.lecture-container .lecture-document {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2%;
    border: 1px solid #DADADA;
}

.lecture-document .image-holder {
    width: 180px;
    height: 130px;
}

.lecture-document .lecture-description {
    flex-basis: 70%;
}

.lecture-description h3 {
    text-decoration: underline;
}

.lecture-description .supporting-docs {
    display: inline-block;
}

.lecture-description span {
    color: #777777;
}

.lecture-buttons .see-details {
    background: #333333;
    border: none;
    color: #fff;
    padding: 10px 20px;
}

.member-comments-container {
    border-bottom: 1px solid #F3F3F3;
}

.terms-conditions-container p {
    font-family: sans-serif;
    color: #b5b5b5;
    margin: 0;
    line-height: 24px;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .member-view {
        padding: 0 3%;
    }

    .members-group .member {
        flex-basis: 49%;
    }
}

@media (min-width: 768px) {
    .background-holder .main-input {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .members-group .member {
        margin-bottom: 40px;
    }

    .members-section .members-group {
        flex-wrap: wrap;
    }

    .members-group .member {
        flex-basis: 100%;
    }

    h1 {
        font-size: 36px;
    }
}

@media (max-width: 425px) {
    .member .member-main {
        flex-direction: column;
        height: auto;
    }

    .navbar-header a img {
        width: 150px;
        height: auto;
    }

    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .navbar-header-holder {
        display: block;
    }

    .navbar-header-holder .user-nav {
        display: none;
    }

    .navigation-links>a {
        display: none;
    }

    .navbar-nav .contact-us {
        display: block;
    }
}

.main-input form button {
    margin-top: -39px;
}

blockquote p {
    font-size: 18px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    margin-left: auto;
    margin-right: auto;
}






































































/* Background Image */

#background,
#background li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('images/Old_dispensary_front.jpg');
    background-color: transparent;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
}

#background {
    z-index: -1;
    margin: 50px 0 0 0;
    padding: 0;
}

@media (min-width: 768px) {
    #background {
        margin: 100px 0 0 0;
    }
}

.fadein {
    display: none;
}






































































/* Navbar */

@media (min-width: 1200px) {
    .navbar-right {
        margin-top: -50px;
    }
}






































































/* footer */

.footer {
    position: static;
    bottom: 20px;
    right: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background: transparent;*/
}

.footer p {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
    color: #333;
    font-weight: bold;
    margin: 0;
    margin-right: 20px;
    padding: 8px 0;
}

.container-fluid .text-muted {
    margin: 8px 0;
}

.text-muted {
    color: #eee;
}






































































/* button group */

.lowerLeft {
    position: absolute;
    bottom: 100px;
    right: 10px;
}

@media (min-width: 768px) {
    .lowerLeft {
        bottom: 50px;
        right: 10px;
    }
}






































































/* Search Bar */

.searchbar {
    margin-top: 10%;
}

.whitetext {
    color: #fff;
}

.greybackground {
    background-color: rgba(204, 204, 204, 0.5);
}






































































/* Search results page */

.searchText {
    margin-top: 6px;
}

.resultsScroll {
    margin-right: -1px;
    border-right: 1px solid #ccc;
}

.resultsScrollBundle {
    margin-right: -1px;
    border-right: 1px solid #ccc;
}

.selectedAddDropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-body {
    height: auto;
    max-height: 100vh;
    overflow: auto;
}

.result {
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.result:hover {
    background-color: #ddd;
}

.result.active {
    background-color: #ddd;
}

.resultTitle {
    padding-left: 0px;
}

.swapem {
    color: #444444;
    font-size: 16px;
    margin-right: 10px;
}

.bundleResult {
    padding: 10px 0px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.bundleResult:hover {
    background-color: #ddd;
}

.bundleResult.active {
    background-color: #ddd;
}

.bundleList {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.rightSidebar {
    padding-top: 15px;
    border-left: 1px solid #ccc;
}

.noTextDecoration:hover,
.noTextDecoration:focus {
    text-decoration: none;
}

.noTopMargin {
    margin-top: 0px;
    line-height: 1.4;
}

.noLeftPadding {
    padding-left: 0;
}

.noRightPadding {
    padding-right: 0;
}

.zeroBorderRadiusRight {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.zeroBorderRadiusLeft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.noBorderLeft {
    border-left-width: 0;
}

.noBorderRight {
    border-right-width: 0;
}

.marginLeftNegative5 {
    margin-left: -5px;
}

.marginBottom0 {
    margin-bottom: 0;
}

.marginBottom15 {
    margin-bottom: 15px;
}

.marginBottom100 {
    margin-bottom: 100px;
}

.marginRight15 {
    margin-right: 15px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop15 {
    margin-top: 15px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginLeftBottom20 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.textbox {
    height: 20vh;
    overflow: auto;
    border: 1px solid #ccc;
    margin: 10px 0px;
    padding: 10px 10px 0px 10px;
}

.dropdown-menu .divider {
    background-color: #ddd;
}

.label-ls {
    background-color: #756BB1;
}

.label-cs {
    background-color: #7796b1;
}

.label-default:hover {
    color: #f9f9f9;
    background-color: #999;
}

.backToTopLink {
    margin-top: -12px;
}

/*highlight text*/
.highlight {
    background: rgba(255, 230, 0, 0.5);
    padding: 5px 2px;
    margin: -5px -2px;
    border-radius: 3px;
    display:inline-block;
}

/* red button backgrounds and text */
.gahtcRed {
    background: #BF413E;
}

.gahtcRedText {
    color: #BF413E;
}

/*content titles*/
.content-title {
    font-size: 22px;
    font-weight: 700;
}

/* button css with hover interactions */
.btn-img-hover-interaction {
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    float: left; 
}

.button-text-ribbon {
    font-size: 20px;
    background: #222;
    color: #fff;
    margin: -32px 0px 0px 0px;
    padding: 5px 0px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
    width: 100%;
}

.button-text-ribbon:hover {
    opacity: 0.9;
}

.btn-text-ribbon {
    margin-top: 5px;
    padding: 0;
    border-radius: 0;
    width: 100%;
}

.button-text-ribbon-opaque {
    font-size: 20px;
    background: #222;
    color: #fff;  
    margin: 0;
    padding: 5px;
    opacity: 0.9;
}

.button-text-ribbon-opaque:hover {
    opacity: 1;
}






































































/* Add bottom padding to all containers */

.container {
    padding-bottom: 30px;
}






































































/* Add some padding to the top of the search template container */

.container.search-body {
    padding-top: 30px;
}






































































/* Feedback Form */

.feedback {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}

.feedback:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0269c2;
}

.updating {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-align: center;
    background-color: #d9534f;
}

.updating:hover {
    color: #fff;
    text-decoration: none;
    background-color: #d9534f;
}






































































/* Admin Forms */

ul.as-selections li.as-original input {
    height: 39px !important;
}
