{% extends "mapbuilder/base.html" %}

{% block content %}
<div class="mapbuilder">
    <h3 class="mapbuilder-header">
        GAHTC Map Builder
    </h3>
    <p id="map-page-content">Map Builder is a tool to help create historical maps using web mapping technology, we can
        fill this space with more content to help a user learn how it works. </p>
    <div class="button-holder">
        <a class="button" href="{% url 'mapbuilder:startmap' %}">Create A New Map</a>
        <a class="button btn-next">Edit An Existing Map</a>
    </div>
    <div class="index-content">
        <span class="map-index">Community Map Index</span>
        <div class="search-bar">
            <button class="search-button">
                <i class="fa fa-search search-icon"></i>
            </button>
            <input type="text" class="search-input" placeholder="Search for a map">
        </div>
    </div>
    <div class="list-wrapper">
        <div class="list-header">
            <span>Below is a list of all maps created in Map Builder. Download a hi-res or JPEG or edit an existing map in Map Builder.</span>
            <hr />
        </div>
        <ul class="list">

            <!--Flexbox list item-->
            <li class="list-item">
                <div class="list-item__image">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/93.jpg" alt="Thumbnail">
                </div>
                <div class="list-item__content">
                    <span class="map-info"> Australia (Prehistoric)  Created November 18th, 2017 by Such Author</span>
                    <div class="list-item__actions">
                        <a href="#">Download</a>
                        <a href="#">Edit</a>
                    </div>
                </div>
            </li>

            <!--Flexbox list item-->
            <li class="list-item">
                <div class="list-item__image">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/46.jpg" alt="Thumbnail">
                </div>
                <div class="list-item__content">
                    <span class="map-info">Australia (Prehistoric)  Created November 18th, 2017 by Such Author</span>
                    <div class="list-item__actions">
                        <a href="#">Download</a>
                        <a href="#">Edit</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>

</div>
{% endblock %}
