{% extends "mapbuilder/base.html" %}
{% load bootstrap_pagination %}
{% block content %}
<div class="mapbuilder">
    <h3 class="mapbuilder-header">
        GAHTC Map Builder
    </h3>
    <p id="map-page-content">Map Builder is a tool to help create historical maps using web mapping technology, we can
        fill this space with more content to help a user learn how it works. </p>
    <div class="button-holder">
        <a class="button" href="{% url 'mapbuilder:startmap' %}">Create A New Map</a>
        <a class="button btn-next" id="edit-map" href="{% url 'mapbuilder:startmap' %}">Edit An Existing Map</a>
    </div>
    <div class="index-content">
        <span class="map-index">Community Map Index</span>
        <div class="search-bar">
            <form   class="data-form" action="." method="GET" accept-charset="utf-8">
                <button class="search-button">
                    <i class="fa fa-search search-icon"></i>
                </button>
                <input type="text" class="search-input" placeholder="Search for a map" name='q' value="{{ request.GET.q }}">
            </form>
        </div>
    </div>
    <div class="list-wrapper">
        <div class="list-header">
            <span>Below is a list of all maps created in Map Builder. Download a hi-res or JPEG or edit an existing map in Map Builder.</span>
            <hr />
        </div>
        <ul class="list">
            {% for map in maps %}
            <!--Flexbox list item-->
            <li class="list-item">
                <div class="list-item__image">
                    <img src="/media/{{ map.image }}" alt="{{ map.name }}">
                </div>
                <div class="list-item__content">
                    <span class="map-info"> {{ map.name }}  Created {{ map.created_date|date:"m/d/Y" }} by {{ map.user }}</span>
                    <div class="list-item__actions">
                        <a download="{{ map.image }}" target="_blank" href="/media/{{ map.image }}" >Download</a>
                        <a href="{% url 'mapbuilder:map-export' id=map.id %}" >Edit</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% bootstrap_paginate maps range=10 show_prev_next="false" show_first_last="true" %}
    </div>

</div>
<script>
    $('#edit-map').click(function(){
        localStorage.setItem('edit','edit')
    })
</script>
{% endblock %}
