{% extends "mapbuilder/base.html" %} {% block content%} {% load staticfiles %}

<div class="map-header white-header">
    <div>
        <h3 class="map-header-text" id="projectname">Name Your Project</h3>
        <h3 class="hidden" id="projectid"></h3>
        <span class="glyphicon glyphicon-pencil edit-icon" id="editIcon"></span>
        </p>
    </div>
    <div class="step-button-holder">
        <a class="button button-group" href="{% url 'mapbuilder:mymaps' %}">My Maps</a>
        <a class="button button-group" id="save">Save</a>
        <a class="button button-group" id="publish">Publish</a>
    </div>
</div>
<div class="draw-toolbar">
    <div class="toolbar-section draw-icons">
        <a href="#" id="freedraw" class="toolbar-icon" title="Free Draw">
            <img src="{% static 'mapbuilder/css/images/freedraw.svg' %}" alt="">
            <span class="tooltip">
                Free Draw
            </span>
        </a>
        <a href="#" id="line" class="toolbar-icon" title="Line">
            <img src="{%static 'mapbuilder/css/images/line.svg' %}" alt="">
            <span class="tooltip">
                Line
            </span>
        </a>
        <a href="#" class="toolbar-icon" title="Arrow" id="arrow">
            <img src="{% static 'mapbuilder/css/images/right_arrow.svg' %}" alt="">
            <span class="tooltip">
                Arrow
            </span>
        </a>
        <a href="#" id="poly" class="toolbar-icon" title="Star">
            <img src="{%static 'mapbuilder/css/images/star.svg' %}" alt="">
            <span class="tooltip">
                Star
            </span>
        </a>
        <a href="#" id="rect" class="toolbar-icon" title="Rectangle">
            <img src="{% static 'mapbuilder/css/images/rectangle.svg' %}" alt="">
            <span class="tooltip">
                Rectangle
            </span>
        </a>
        <a href="#" id="circle" class="toolbar-icon" title="Cirlce">
            <img src="{%static 'mapbuilder/css/images/circle.svg' %}" alt="">
            <span class="tooltip">
                Circle
            </span>
        </a>
        <a href="#" id="pin" class="toolbar-icon" title="Pin">
            <img src="{% static 'mapbuilder/css/images/pin.svg' %}" alt="">
            <span class="tooltip">
                Pin
            </span>
        </a>
        <a href="#" id="text" class="toolbar-icon" title="Text">
            <img src="{% static 'mapbuilder/css/images/type.svg' %}" alt="">
            <span class="tooltip">
                Text
            </span>
        </a>
        <a href="#" id="image" class="toolbar-icon" title="Image">
            <img src="{% static 'mapbuilder/css/images/insert_img.svg' %}" alt="">
            <span class="tooltip">
                Image
            </span>
        </a>
        <input type="file" id="file-image" style="display: none;" accept="image/*">
    </div>
    <div class="toolbar-section edit-icons">
        <a href="#" class="toolbar-icon" id="select" title="Select">
            <img src="{% static 'mapbuilder/css/images/select.svg' %}" alt="">
            <span class="tooltip">
                Select
            </span>
        </a>
        <input type="text" id="fillColorPicker">
        <a href="#" class="toolbar-icon" title="Fill" id='fillColor'>
            <img src="{% static 'mapbuilder/css/images/format_color_fill.svg' %}" alt="">
            <span class="tooltip">
                Fill
            </span>
        </a>
        <input type="text" id="strokeColorPicker">
        <a href="#" class="toolbar-icon" title="Stroke Color" id="strokeColor">
            <img src="{% static 'mapbuilder/css/images/stroke_color.svg' %}" alt="">
            <span class="tooltip">
                Stroke Color
            </span>
        </a>
        <a class="toolbar-icon" title="Opacity" id="opacity">
            <img src="{% static 'mapbuilder/css/images/opacity.svg'%}" alt="">
            <div class="slider-container">
                <input class="opacity-slider" type="range" max="100" min="0" step="1" value="50">
            </div>
        </a>
        <a href="#" class="toolbar-icon" title="Stroke Weight">
            <img src="{% static 'mapbuilder/css/images/stroke_weight.svg' %}" alt="">
            <ul class="toolbar-icon-dropdown">
                <li class='stroke-weight-option'>1px</li>
                <li class="stroke-weight-option">2px</li>
                <li class="stroke-weight-option">3px</li>
                <li class="stroke-weight-option">4px</li>
                <li class="stroke-weight-option">8px</li>
                <li class="stroke-weight-option">12px</li>
            </ul>
            <span class="tooltip">
                Stroke Weight
            </span>
        </a>
        <a href="#" class="toolbar-icon" title="Stroke Style">
            <img src="{% static 'mapbuilder/css/images/stroke_style.svg' %}" alt="">
            <ul class="toolbar-icon-dropdown">
                <li class="stroke-style-option" id="solid">
                    <div class=" stroke-style-solid"></div>
                </li>
                <li class="stroke-style-option" id="dashed">
                    <div class="stroke-style-dashed"></div>
                </li>
                <li class="stroke-style-option" id="dotted">
                    <div class=" stroke-style-dotted"></div>
                </li>
            </ul>
            <span class="tooltip">
                Stroke Style
            </span>
        </a>

        <a href="#" class="toolbar-icon delete-shape-icon">
            <i class="fa fa-trash"></i>
            <span class="tooltip">
                Delete
            </span>
        </a>
    </div>
    <div class="toolbar-section format-icons">
        <a href="#" class="toolbar-icon" title="Font Family">
            <i class="fa fa-font"></i>
            <ul class="toolbar-icon-dropdown">
                <li class="font-family-option">Source Sans Pro</li>
                <li class="font-family-option">LinuxLibertine</li>
            </ul>
            <span class="tooltip">
                Font Family
            </span>
        </a>
        <a href="#" class="toolbar-icon" title="Font Size">
            <i class="fa fa-text-height"></i>
            <ul class="toolbar-icon-dropdown">
                <li class="font-size-option">8</li>
                <li class="font-size-option">10</li>
                <li class="font-size-option">12</li>
                <li class="font-size-option">14</li>
                <li class="font-size-option">18</li>
                <li class="font-size-option">24</li>
                <li class="font-size-option">30</li>
                <li class="font-size-option">36</li>
                <li class="font-size-option">38</li>
            </ul>
            <span class="tooltip">
                Font Size
            </span>
        </a>
        <input type="text" id="fontColorPicker">
        <a href="#" id="fontColor" class="toolbar-icon" id="fontColor">
            <img src="{% static 'mapbuilder/css/images/format_color_text.svg' %}" alt="">
            <span class="tooltip">
                Font Color
            </span>
        </a>
        <a href="#" id="f-bold" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_bold.svg' %}" alt="">
            <span class="tooltip">
                Bold Text
            </span>
        </a>
        <a href="#" id="f-italic" class="toolbar-icon">
            <img src="{% static '/mapbuilder/css/images/format_italic.svg' %}" alt="">
            <span class="tooltip">
                Italic
            </span>
        </a>
        <a href="#" id="underline" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_underlined.svg' %}" alt="">
            <span class="tooltip">
                Text Underline
            </span>
        </a>
        <a href="#" id="align-left" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_left.svg' %}" alt="">
            <span class="tooltip">
                Left Align
            </span>
        </a>
        <a href="#" id="align-right" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_right.svg' %}" alt="">
            <span class="tooltip">
                Right Align
            </span>
        </a>
        <a href="#" id="justify" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_justify.svg'%}" alt="">
            <span class="tooltip">
                Justify Text
            </span>
        </a>
        <a href="#" id="align-center" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_center.svg' %}" alt="">
            <span class="tooltip">
                Align Center
            </span>
        </a>
    </div>
    {% comment %}
    <div class="toolbar-btn-holder">
        <a href="" class="toolbar-btn">Legend</a>
        <a href="" class="toolbar-btn">Layers</a>
    </div> {% endcomment %}
</div>
<div id="map-canvas">
    <div id="lmap"></div>
    <canvas id="c"></canvas>
</div>
<div id="map-modal" class="modal" style="display:none">
    <div class="modal-content">
        <span class="close-button" id="close-button">&times;</span>
        <h3 class="modal-title">Lets Make A Map!</h3>
        <label class="label-title" for="">Name Your Project</label>
        <input id="project-title" type="text">
        <a class="button ok-button">OK</a>
    </div>
</div>
<div class="publish-modal">
    <div class="publish-modal-content">
        <span class="close-button close-icon" id="close-icon">&times;</span>
        <div class="title-holder">Publish Your Map!</h3>
        </div>
        <h3 id="preview">Preview</h3>
        <div class="content-holder">
            <div class="img-holder" id="images">
                <i class="fa fa-spinner fa-pulse" id="loader"></i>
            </div>
            <div class="publish-image">
                <h4 class="modal-sub">File Size</h4>
                <div class="button-switcher">
                    <button class="size-btn" id="small">Small</button>
                    <button class="size-btn size-btn-active" id="medium">Medium</button>
                    <button class="size-btn" id="large">Large</button>
                </div>
                <div class="publish-options">
                    <h4 class="modal-sub">File Format</h4>
                    <input type="radio" name="fileFormat" id="jpeg"> JPEG
                    <br>
                    <input type="radio" name="fileFormat" id="png"> PNG
                    <br>
                    <input type="radio" name="fileFormat" id="pdf"> PDF
                    <a class="button download" id="download">Download</a>
                    <input type="checkbox" id="public-check" checked>Share your map with the GAHTC community in the Map Index?
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    window.MAPBOX_ACCESS_TOKEN = '{{ MAPBOX_ACCESS_TOKEN }}';
</script>
<!--<script type="text/javascript" src="{% static 'mapbuilder/js/circle.js' %}"></script>-->
<script type="text/javascript" src="{% static 'mapbuilder/js/draw.js' %}"></script>

<script>


</script>

{% endblock%}
