{% extends "mapbuilder/base.html" %} {% block content%} 
{% load staticfiles %}

<div class="map-header white-header">
    <div>
        <h3 class="map-header-text" id="projectname">Name Your Project</h3>
        <h3 class="hidden" id="projectid"></h3>
        <span class="glyphicon glyphicon-pencil edit-icon" id="editIcon"></span>
        </p>
    </div>
    <div class="step-button-holder">
        <a class="button button-group" href="{% url 'mapbuilder:mymaps' %}">My Maps</a>
        <a class="button button-group" id="save">Save</a>
        <a class="button button-group" id="publish">Publish</a>
    </div>
</div>
<div class="draw-toolbar">
    <div class="toolbar-section draw-icons">
        <a href="#" id="freedraw" class="toolbar-icon" title="Free Draw">
            <img src="{% static 'mapbuilder/css/images/freedraw.svg' %}" alt="">
        </a>
        <a href="#" id="line" class="toolbar-icon" title="Line">
            <img src="{%static 'mapbuilder/css/images/line.svg' %}" alt="">
        </a>
        <a href="#" id="poly" class="toolbar-icon" title="Star">
            <img src="{%static 'mapbuilder/css/images/star.svg' %}" alt="">
        </a>
        <a href="#" id="rect" class="toolbar-icon" title="Rectangle">
            <img src="{% static 'mapbuilder/css/images/rectangle.svg' %}" alt="">
        </a>
        <a href="#" id="circle" class="toolbar-icon" title="Cirlce">
            <img src="{%static 'mapbuilder/css/images/circle.svg' %}" alt="">
        </a>
        <a href="#" id="pin" class="toolbar-icon" title="Pin">
            <img src="{% static 'mapbuilder/css/images/pin.svg' %}" alt="">
        </a>
        <a href="#" id="text" class="toolbar-icon" title="Text">
            <img src="{% static 'mapbuilder/css/images/type.svg' %}" alt="">
        </a>
        <a href="#" id="image" class="toolbar-icon" title="Image">
            <img src="{% static 'mapbuilder/css/images/insert_img.svg' %}" alt="">
        </a>
        <input type="file" id="file-image" style="display: none;" accept="image/*" >
    </div>
    <div class="toolbar-section edit-icons">
        <a href="#" class="toolbar-icon" title="Select">
            <img src="{% static 'mapbuilder/css/images/select.svg' %}" alt="">
        </a>
        <input type="text" id="fillColorPicker">
        <a href="#" class="toolbar-icon" title="Fill" id='fillColor'>
            <img src="{% static 'mapbuilder/css/images/format_color_fill.svg' %}" alt="">
        </a>
        <input type="text" id="strokeColorPicker">
        <a href="#" class="toolbar-icon" title="Stroke Color" id="strokeColor">
            <img src="{% static 'mapbuilder/css/images/stroke_color.svg' %}" alt="">
        </a>
        <a class="toolbar-icon" title="Opacity" id="opacity">
            <img src="{% static 'mapbuilder/css/images/opacity.svg'%}" alt="">
            <div class="slider-container">
                <input class="opacity-slider" type="range" max="100"  min="0" step="1" value="50"> 
            </div>
        </a>
        <a href="#" class="toolbar-icon" title="Stroke Weight">
            <img src="{% static 'mapbuilder/css/images/stroke_weight.svg' %}" alt="">
            <ul class="toolbar-icon-dropdown">
                <li class='stroke-weight-option'>1px</li>
                <li class="stroke-weight-option">2px</li>
                <li class="stroke-weight-option">3px</li>
                <li class="stroke-weight-option">4px</li>
                <li class="stroke-weight-option">8px</li>
                <li class="stroke-weight-option">12px</li>
            </ul>
        </a>
        <a href="#" class="toolbar-icon" title="Stroke Style">
            <img src="{% static 'mapbuilder/css/images/stroke_style.svg' %}" alt="">
            <ul class="toolbar-icon-dropdown">
                <li class="stroke-style-option" id="solid">
                    <div class=" stroke-style-solid"></div>
                </li>
                <li class="stroke-style-option" id="dashed">
                    <div class="stroke-style-dashed" ></div>
                </li>
                <li class="stroke-style-option" id="dotted">
                    <div class=" stroke-style-dotted"></div>
                </li>
            </ul>
        </a>
        <a href="#" class="toolbar-icon" title="Arrow" id="arrow">
            <img src="{% static 'mapbuilder/css/images/right_arrow.svg' %}" alt="">
        </a>
        <a href="#" class="toolbar-icon delete-shape-icon">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <div class="toolbar-section format-icons">
        <a href="#" class="toolbar-icon" title="Font Family">
            <i class="fa fa-font"></i>
            <ul class="toolbar-icon-dropdown">
                <li class="font-family-option">Source Sans Pro</li>
                <li class="font-family-option" >Raleway</li>
                <li class="font-family-option">Indie Flower</li>
                <li class="font-family-option">Lobster</li>
                <li class="font-family-option">Pacifico</li>
            </ul>
        </a>
        <a href="#" class="toolbar-icon" title="Font Size">
            <i class="fa fa-text-height"></i>
            <ul class="toolbar-icon-dropdown">
                <li class="font-size-option">8</li>
                <li class="font-size-option">10</li>
                <li class="font-size-option">12</li>
                <li class="font-size-option">14</li>
                <li class="font-size-option">18</li>
                <li class="font-size-option">24</li>
                <li class="font-size-option">30</li>
                <li class="font-size-option">36</li>
                <li class="font-size-option">38</li>
            </ul>
        </a>
        <input type="text" id="fontColorPicker">
        <a href="#" id="fontColor" class="toolbar-icon" id="fontColor">
            <img src="{% static 'mapbuilder/css/images/format_color_text.svg' %}" alt="">
        </a>
        <a href="#" id="f-bold" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_bold.svg' %}" alt="">
        </a>
        <a href="#" id="f-italic" class="toolbar-icon">
            <img src="{% static '/mapbuilder/css/images/format_italic.svg' %}" alt="">
        </a>
        <a href="#" id="underline" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_underlined.svg' %}" alt="">
        </a>
        <a href="#" id="align-left" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_left.svg' %}" alt="">
        </a>
        <a href="#" id="align-right" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_right.svg' %}" alt="">
        </a>
        <a href="#" id="justify" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_justify.svg'%}" alt="">
        </a>
        <a href="#" id="align-center" class="toolbar-icon">
            <img src="{% static 'mapbuilder/css/images/format_align_center.svg' %}" alt="">
        </a>
    </div>
    {% comment %}
    <div class="toolbar-btn-holder">
        <a href="" class="toolbar-btn">Legend</a>
        <a href="" class="toolbar-btn">Layers</a>
    </div> {% endcomment %}
</div>
<div id="map-canvas">
    <div id="lmap"></div>
    <canvas id="c"></canvas>
</div>
<div id="map-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="close-button">&times;</span>
        <h3 class="modal-title">Lets Make A Map!</h3>
        <label class="label-title" for="">Name Your Project</label>
        <input id="project-title" type="text">
        <a class="button ok-button">OK</a>
    </div>
</div>
<div class="publish-modal">
    <div class="publish-modal-content">
        <span class="close-button close-icon" id="close-icon">&times;</span>
        <div class="title-holder">Publish Your Map!</h3>
        </div>
        <h3 id="preview">Preview</h3>
        <div class="content-holder">
            <div class="img-holder" id="images">
                <i class="fa fa-spinner fa-pulse" id="loader"></i>
            </div>
            <div class="publish-image">
                <h4 class="modal-sub">File Size</h4>
                <div class="button-switcher">
                    <button class="size-btn" id="small">Small</button>
                    <button class="size-btn size-btn-active" id="medium">Medium</button>
                    <button class="size-btn" id="large">Large</button>
                </div>
                <div class="publish-options">
                    <h4 class="modal-sub">File Format</h4>
                    <input type="radio" name="fileFormat" id="jpeg"> JPEG
                    <br>
                    <input type="radio" name="fileFormat" id="png"> PNG
                    <br>
                    <input type="radio" name="fileFormat" id="pdf"> PDF
                    <a class="button download" id="download">Download</a>
                    <input type="checkbox" id="public-check" checked>Share your map with the GAHTC community in the Map Index?
                </div>
            </div>
        </div>

    </div>
</div> 
<script>
    var lat = localStorage.getItem('lat');
    var long = localStorage.getItem('long');
    var center = [lat, long]
    var layerId = localStorage.getItem('layerId');
    var zoom = localStorage.getItem('zoom');
    var mapBound = JSON.parse(localStorage.getItem('bounds'));
    var southWest = [mapBound._southWest.lat, mapBound._southWest.lng],
        northEast = [mapBound._northEast.lat, mapBound._northEast.lng],
        mapBounds = [southWest, northEast];

    // initialize the map
    var map = L.map('lmap', {
        center: center,
        minZoom: zoom,
        maxZoom: zoom,
        zoomControl: false,
        maxBounds: mapBounds,
        preferCanvas: true
    });

    map.fitBounds(mapBounds);
   
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: layerId,
        accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
    }).addTo(map);

    var canvasF = new fabric.Canvas('c');
    const mapCanvas = $('#map-canvas');
    canvasF.setHeight(mapCanvas.height());
    canvasF.setWidth(mapCanvas.width());
    canvasF.selection = false;

    fabric.Object.prototype.set({
        transparentCorners: false,
        borderColor: '#3D95F6',
        cornerColor: '#3D95F6'
    });

    $(document).ready(() => {
        leafletImage(map, function(err, canvas) {
        var url = canvas.toDataURL('image/png');
        const img  = new Image;
        var dimensions = map.getSize();
        img.width = dimensions.x;
        img.height = dimensions.y;
        img.src = url;
        img.onload = function () {
            $('#lmap').remove();
            const imageBackgroundUrl = "" + url + "";
            canvasF.setBackgroundImage(imageBackgroundUrl, canvasF.renderAll.bind(canvasF));
            }
        })

    // event handlers spectrum
    let fillColor, strokeColor, strokeWidth, fontColor, fontSize, fontFamily;

    $("#fillColor").on("click", () => {
        $("#fillColorPicker").spectrum("toggle");
        return false;
    });

    $("#strokeColor").on("click", function() {
        $("#strokeColorPicker").spectrum("toggle");
        return false;
    });

    $("#fontColor").on("click", function() {
        $("#fontColorPicker").spectrum("toggle");
        return false;
    });

    $("#fillColorPicker").spectrum({
        color: "#f00",
        change: color => {
        fillColor = color.toHexString();
        canvasF.getActiveObject().set("fill", fillColor);
        canvasF.renderAll();
        }
    });

    $("#strokeColorPicker").spectrum({
        color: "#f00",
        change: color => {
        strokeColor = color.toHexString();
        canvasF.getActiveObject().set({
            strokeWidth: strokeWidth || 1,
            stroke: strokeColor
        });
        canvasF.renderAll();
        }
  });

  $("#fontColorPicker").spectrum({
    color: "#f00",
    change: color => {
      fontColor = color.toHexString();
      canvasF.getActiveObject().set({
        fill: fontColor
      });
      canvasF.renderAll();
    }
  });
});
 
$(document).on("change", ".opacity-slider", function (){
    var opacity = $(".opacity-slider").val();
    opacity = opacity / 100;
    canvasF.getActiveObject().setOpacity(opacity)
    canvasF.renderAll();
});

    $('#close-button').click(function (e) {
        $('.modal').css("display", "none");
    });
    $('.ok-button').click(function (e) {
        $('.modal').css("display", "none");
        var val = $("#project-title").val()
        $("#projectname").html(val);
    });
    $('#editIcon').click(function (e) {
        $('.modal').css("display", "block");
    });

    const createImage = (canvasF) => {
        const url = canvasF.toDataURL('image/png');
        const imageBackgroundUrl = "url(" + url + ")";
        const img  = new Image;
        $('#images').css({
            'background': imageBackgroundUrl,
            'background-repeat': 'no-repeat',
            'background-size': '100% 100%'
        })
        img.src = url;
        img.onload = function () {
            $('#loader').hide();
        }
    }

    // publish modal
    $('#publish').click(function (e) {
        $('.publish-modal').css("display", "flex");
        createImage(canvasF);
    });
    $('#close-icon').click(function (e) {
        $('.publish-modal').css("display", "none");
    });

    function dataURLtoBlob(dataurl) {
        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
       while(n--){
            u8arr[n] = bstr.charCodeAt(n);
       }
        return new Blob([u8arr], {type:mime});
    }

    function resizeImage(img, width, height) {
        var result = new Image();
        var canvas = document.createElement('canvas');
        canvas.width = width;
        canvas.height = height;
        canvas.getContext('2d').drawImage(img, 0, 0, width, height);
        result.src = canvas.toDataURL();
        return result;
    }

    function downloadImage(err, canvas) {
        var link = document.createElement('a');
        var fabricImage = new Image();
        if (document.getElementById('png').checked) {
            fabricImage.src = canvasF.toDataURL('image/png');
            var resizedImage = resizeImage(fabricImage, width, height);
            var blob = dataURLtoBlob(resizedImage.src);
            var objectUrl = URL.createObjectURL(blob)
            link.href = objectUrl
            link.download = "mymap.png";
        } else {
            fabricImage.src = canvasF.toDataURL('image/jpeg');
            var resizedImage = resizeImage(fabricImage, width, height);
            var blob = dataURLtoBlob(resizedImage.src);
            var objectUrl = URL.createObjectURL(blob)
            link.href = objectUrl
            link.download = "mymap.jpg";
        }
        link.click()
    }

    function downloadPdf (canvasF) {
        const url = canvasF.toDataURL("image/svg+xml", 1.0);
        var pdf = new jsPDF();
        pdf.addImage(url, 'PNG', 15, 30, 180, 160);
        pdf.save("mymap.pdf");
 
     }

    $('#download').click(function (e) {
        if (imageQuality == 'small'){
            width = 854;
            height = 480;
        } else if(imageQuality == 'medium') {
            width = 1280;
            height = 720;
        } else if (imageQuality == 'large'){
            width = 1920;
            height = 1080;
        }
        if (document.getElementById('pdf').checked) {
            downloadPdf(canvasF);
        } else {
            downloadImage(canvasF);
        }
        if (document.getElementById('public-check').checked){
            // var map_data = JSON.stringify(canvasF);
            var map_id = $("#projectid").text();
            var map_name = $("#projectname").text();
            var csrftoken = Cookies.get('csrftoken');
            var map_image = canvasF.toDataURL('image/png').replace("data:image/jpeg;base64,", "");
            var public_map = 'True';

            console.log(map_image);
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            $.ajax({
                type: "POST",
                url: "/mapbuilder/map-export/",
                // contentType: 'multipart/form-data; boundary=multipartformboundary1352769538973',
                data: {
                    map_id: map_id,
                    map_name: map_name,
                    public_map: public_map,
                    map_image: map_image
                },
                success: function(data){
                    var projectid = data.map_id;
                    $("#projectid").text(projectid);
                },
                error: function(e) {
                    console.log(e, "ERROR");
                }
            });
            }
    });

    // Toggle Between image size
    $('.button-switcher button').click(function () {
        $(this).siblings().removeClass('size-btn-active');
        $(this).addClass('size-btn-active');
        if (this.id == 'small') {
            imageQuality = 'small'
        } else if (this.id == 'medium') {
            imageQuality = 'medium'
        } else {
            imageQuality = 'large'
        }
        console.log(imageQuality)
    })
    $('#save').click(function(){
        var map_data = JSON.stringify(canvasF);
        var map_id = $("#projectid").text();
        var map_name = $("#projectname").text();
        var csrftoken = Cookies.get('csrftoken');
        var map_image = canvasF.toDataURL('image/png').replace("data:image/jpeg;base64,", "");
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            type: "POST",
            url: "/mapbuilder/map-export/",
            // contentType: 'multipart/form-data; boundary=multipartformboundary1352769538973',
            data: {
                map_id: map_id,
                map_name: map_name,
                map_data: map_data,
                map_image: map_image
            },
            success: function(data){
                var projectid = data.map_id;
                $("#projectid").text(projectid);
            },
            error: function(e) {
                console.log(e, "ERROR");
            }
        });
    })
   

</script>

{% endblock%}
