{% extends "mapbuilder/base.html" %} {% block content%}
<div class="map-header">
    <h3 class="map-header-text">
        <strong>Step 2 of 3:</strong> Set your map's extent inside the red box</h3>
    <a class="button step-button" href="{% url 'mapbuilder:map-export' %}">Done</a>
</div>
<div id="map" class="red-outline"></div>
<div class="layer-switcher">
    <button class="layer-buttons" id="btn1">Terrain</button>
    <button class="layer-buttons button-active" id="btn2">Political</button>
    <button class="layer-buttons" id="btn3">Satellite</button>
    <div class='layer-tooltip'>
        <span>Modern Political</span>
    </div>
</div>
<script>
    var lat = localStorage.getItem('lat');
    var long = localStorage.getItem('long');
    var layerId = localStorage.getItem('layerId')
    var center = [lat, long]
    var mapBound = JSON.parse(localStorage.getItem('bounds'));
    var southWest = [mapBound._southWest.lat, mapBound._southWest.lng],
        northEast = [mapBound._northEast.lat, mapBound._northEast.lng],
        mapBounds = [southWest, northEast];
    var mapBoxURL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}'
    var mapBoxAttribution =
        'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'

    // initialize the map
    var map = L.map('map').setView([38, 0], 2);

    map.fitBounds(mapBounds);

    var marker = L.marker(center).addTo(map);
    
    // L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    //     attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    //     id: layerId,
    //     accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
    // }).addTo(map)

    $(document).ready(function () {
        if (layerId == 'mapbox.light') {
            $("#btn2").trigger('click');
        } else if (layerId == 'terrain') {
            $("#btn1").trigger('click');
        } else if (layerId == 'mapbox.satellite') {
            $("#btn3").trigger('click');

        }
    });

    // Read the bounding box


    map.on('moveend', function() {
      var bounds = map.getBounds();
        localStorage.setItem('zoom', map.getZoom());
        localStorage.setItem('bounds', JSON.stringify(bounds));
    });



    var streets = L.tileLayer(mapBoxURL, {
            attribution: mapBoxAttribution,
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
        }),
        terrain = L.tileLayer('https://api.mapbox.com/styles/v1/nijeldev/cjhgodu8f4x4p2smizw2o0btn/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
           attribution: mapBoxAttribution,
           maxZoom: 18,
           accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
       }),
        satellite = L.tileLayer(mapBoxURL, {
            attribution: mapBoxAttribution,
            maxZoom: 18,
            id: 'mapbox.satellite',
            accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
        })

    // Toggle Between layers
    $('.layer-buttons').click(function (e) {
        $('.layer-buttons').removeClass('button-active');
        $(this).addClass('button-active');
        if (this.id === 'btn1') {
            map.addLayer(terrain);
            map.removeLayer(streets);
            map.removeLayer(satellite);
            layerId = 'terrain';
        } else if (this.id === 'btn2') {
            map.addLayer(streets);
            map.removeLayer(terrain);
            map.removeLayer(satellite);
            layerId = 'mapbox.light';
        } else {
            map.addLayer(satellite);
            map.removeLayer(streets);
            map.removeLayer(terrain);
            layerId = 'mapbox.satellite';
        }
        localStorage.setItem('layerId', layerId);
    });
</script>
{% endblock%}