{% extends "mapbuilder/base.html" %}

{% block content%}
<div class="map-header white-header">
    <div>
        <h3 class="map-header-text" id="projectname">Prehistoric Australia</h3>
        <span class="glyphicon glyphicon-pencil edit-icon" id="editIcon"></span>
        </p>
    </div>
    <div class="step-button-holder">
        <a class="button button-group">My Maps</a>
        <a class="button button-group" id="save">Save</a>
        <a class="button button-group" id="publish">Publish</a>
    </div>
</div>
<div id="map"></div>
<div id="map-modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="close-button">&times;</span>
        <h3 class="modal-title">Lets Make Your Map!</h3>
        <label class="label-title" for="">Name Your Project</label>
        <input id="project-title" type="text" placeholder="prehistoric australia">
        <a class="button ok-button">OK</a>
    </div>

</div>

<div class="publish-modal">
    <div class="publish-modal-content">
        <span class="close-button close-icon" id="close-icon">&times;</span>
        <div class="title-holder">Publish Your Map!</h3>
        </div>
        <h3 id="preview" >Preview</h3>
        <div class="content-holder">
            <div class="img-holder" id="images">
                <i class="fa fa-spinner fa-pulse" id="loader" ></i>
            </div>
            <div class="publish-image">
                <h4 class="modal-sub">File Size</h4>
                <div class="button-switcher">
                    <button class="size-btn" id="small">Small</button>
                    <button class="size-btn size-btn-active" id="medium">Medium</button>
                    <button class="size-btn" id="large">Large</button>
                </div>
                <div class="publish-options">
                    <h4 class="modal-sub">File Format</h4>
                    <input type="radio" name="fileFormat" id="jpeg"> JPEG
                    <br>
                    <input type="radio" name="fileFormat" id="png"> PNG
                    <br>
                    <input type="radio" name="fileFormat" id="pdf"> PDF
                    <a class="button download" id="download">Download</a>
                    <input type="checkbox" name="" id="">Share your map with the GAHTC community in the Map Index?
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var lat = localStorage.getItem('lat');
    var long = localStorage.getItem('long');
    var center = [lat, long]
    var layerId = localStorage.getItem('layerId')
    var zoom = localStorage.getItem('zoom');
    var mapBound = JSON.parse(localStorage.getItem('bounds'));
    var southWest = [mapBound._southWest.lat, mapBound._southWest.lng],
        northEast = [mapBound._northEast.lat, mapBound._northEast.lng],
        mapBounds = [southWest, northEast];

    // initialize the map
    var map = L.map('map', {
        center: center,
        minZoom: zoom,
        zoomControl: false,
        maxBounds: mapBounds,
        preferCanvas: true
    });

    map.fitBounds(mapBounds);
    var marker = L.marker(center).addTo(map);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: layerId,
        accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
    }).addTo(map);

    L.control.zoom({
        position: 'bottomleft'
    }).addTo(map);

    // FeatureGroup is to store editable layers
    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);
    var drawControl = new L.Control.Draw({
        edit: {
            featureGroup: drawnItems
        }
    });
    map.addControl(drawControl);


    map.on('draw:created', function (e) {
        var type = e.layerType,
            layer = e.layer;
        drawnItems.addLayer(layer);
        map.addLayer(drawnItems);
    });

    $('#close-button').click(function (e) {
        $('.modal').css("display", "none");
    });
    $('.ok-button').click(function (e) {
        $('.modal').css("display", "none");
        var val = $("#project-title").val()
        $("#projectname").html(val);
    });

    $('#editIcon').click(function (e) {
        $('.modal').css("display", "block");
    });


    const drawImage = (err, canvas) => {
        const url = canvas.toDataURL('image/png');
        document.getElementById('images').style['background'] = "url(" + url + ") no-repeat center";
        const img = new Image
        img.src = url
        img.onload = function(){
            $('#loader').hide();
        }
    }

   

    // publish modal
    $('#publish').click(function (e) {
        $('.publish-modal').css("display", "block");
        // leaflet image       
        leafletImage(map, drawImage)
    });



    $('#close-icon').click(function (e) {
        $('.publish-modal').css("display", "none");
    });


    function downloadImage(err, canvas) {
        var link = document.createElement('a');
        if (document.getElementById('png').checked) {
            link.download = "mymap.png";
            link.href = canvas.toDataURL('image/png')
            link.click()
        } else {
            link.download = "mymap.jpg";
            link.href = canvas.toDataURL('image/jpeg')
            link.click()
        }

    }

    const downloadPdf = (err, canvas) => {
        const url = canvas.toDataURL("image/svg+xml", 1.0);
        var dimensions = map.getSize();
        var pdf = new jsPDF('l', 'pt', 'letter');
        pdf.addImage(url, 'PNG', 10, 10, dimensions.x * 0.5, dimensions.y * 0.5);
        pdf.save("mymap.pdf");
        
    }

    $('#download').click(function (e) {
        if (document.getElementById('pdf').checked) {
            leafletImage(map, downloadPdf);
        } else {
            leafletImage(map, downloadImage);
        }
    })


    // Toggle Between image size
    $('.button-switcher button').click(function () {
        $(this).siblings().removeClass('size-btn-active');
        $(this).addClass('size-btn-active');
        if (this.id == 'small') {
            imageQuality = 'small'
        } else if (this.id == 'medium') {
            imageQuality = 'medium'
        } else {
            imageQuality = 'large'
        }
    })
</script>

{% endblock%}