{% extends "mapbuilder/base.html" %} {% block content%}
<div class="map-header">
    <h3 class="map-header-text">
        <strong>Step 1 of 3: </strong>Refine Your Location Search</h3>
    <a class="button step-button" href="{% url 'mapbuilder:map-extent' %}">Next</a>
</div>
<div id="map"></div>
<div class="layer-switcher">
    <button class="layer-buttons" id="btn1">Terrain</button>
    <button class="layer-buttons button-active" id="btn2">Political</button>
    <button class="layer-buttons" id="btn3">Satellite</button>
    <div class='layer-tooltip'>
        <span>Modern Political</span>
    </div>
</div>

<script>
    var lat = localStorage.getItem('lat');
    var long = localStorage.getItem('long');
    var center = [lat, long]
    var mapBoxURL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}'
    var mapBoxAttribution =
        'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'

    // initialize the map
    var map = L.map('map', {
        center: center,
        zoom: 5,
    });


    var marker = L.marker([lat, long]).addTo(map);


    var streets = L.tileLayer(mapBoxURL, {
            attribution: mapBoxAttribution,
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
        }),
        terrain = L.tileLayer(mapBoxURL, {
            attribution: mapBoxAttribution,
            maxZoom: 18,
            id: 'mapbox.outdoors',
            accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
        }),
        satellite = L.tileLayer(mapBoxURL, {
            attribution: mapBoxAttribution,
            maxZoom: 18,
            id: 'mapbox.satellite',
            accessToken: '{{ MAPBOX_ACCESS_TOKEN }}'
        });

    $('.layer-buttons').click(function (e) {
        $('.layer-buttons').removeClass('button-active');
        $(this).addClass('button-active');
        if (this.id == 'btn1') {
            map.addLayer(terrain);
            map.removeLayer(streets);
            map.removeLayer(satellite)
            layerId = 'terrain';
        } else if (this.id == 'btn2') {
            map.addLayer(streets);
            map.removeLayer(terrain);
            map.removeLayer(satellite)

            layerId = 'streets';
        } else {
            map.addLayer(satellite);
            map.removeLayer(streets);
            map.removeLayer(terrain)
            layerId = 'satellite';
        }
        localStorage.setItem('layerId', layerId);
    });

    $(document).ready(function () {
        $("#btn2").trigger('click');
    });

    map.on('moveend', function (e) {
        var bounds = map.getBounds();
        localStorage.setItem('bounds', JSON.stringify(bounds));
    });
    map.on('move', function (e) {
        marker.setLatLng(map.getCenter())
    })
</script>
{% endblock%}