{% extends "mapbuilder/base.html" %}

{% block content %}

<div class="mapbuilder">
    <h3 class="mapbuilder-header">
            {{ user.username| title }} Account Settings
    </h3>
    <h3 class="mapbuilder-header">My Maps Index</h3>
    <div class="list-wrapper">
        <div class="list-header">
            <span>Below is a list of all maps you have created in Map Builder. Download a hi-res or JPEG or edit an existing map in Map Builder.</span>
            <hr />
        </div>
        <ul class="list">
            {% for map in mymaps %}
            <!--Flexbox list item-->
            <li class="list-item">
                <div class="list-item__image">
                    <img src="{{ MEDIA_URL }}{{ map.image }}" alt="{{ map.name }}">
                </div>
                <div class="list-item__content">
                    <span class="map-info"> {{ map.name }}  Created {{ map.created_date }} by {{ map.user }}</span>
                    <div class="list-item__actions">
                        <a href="#" >Download</a>
                        <a href="#" >Edit</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>
<script>
    $('#edit-map').click(function(){
        localStorage.setItem('edit','edit')
    })
</script>
{% endblock %}
