{% extends "mapbuilder/base.html" %}
{% load bootstrap_pagination %}
{% block content %}

<div class="mapbuilder">
    <h3 class="mapbuilder-header">
        {{ user.username| title }} Account Settings
    </h3>
    <div class="index-content">
            <span class="map-index">My Maps Index</span>
            <div class="search-bar">
                <form class="data-form" action="." method="GET" accept-charset="utf-8">
                    <button class="search-button">
                        <i class="fa fa-search search-icon"></i>
                    </button>
                    <input type="text" class="search-input" placeholder="Search for a map" name='q'
                           value="{{ request.GET.q }}">
                </form>
            </div>
        </div>
    <div class="list-wrapper">
        <div class="list-header">
            <span>Below is a list of all maps you have created in Map Builder. Download a hi-res or JPEG or edit an existing map in Map Builder.</span>
            <hr/>
        </div>

        <ul class="list">
            {% for map in mymaps %}
            <!--Flexbox list item-->
            <li class="list-item">
                <div class="list-item__image">
                    <img src="/media/{{ map.image }}" alt="{{ map.name }}">
                </div>
                <div class="list-item__content">

                    <div class="map-info">
                        {% if map.public %}
                        <i class="map-public"></i>
                        {% elif athlete_in_locker_room_list %}
                        <i class="map-private"></i>
                        {% endif %}
                        <span>{{ map.name }}  Created {{ map.created_date|date:"m/d/Y" }} by {{ map.user }}</span></div>
                    <div class="list-item__actions">
                        <a download="{{ map.image }}" target="_blank" href="/media/{{ map.image }}">Download</a>
                        <a href="#">Edit</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% bootstrap_paginate mymaps range=10 show_prev_next="false" show_first_last="true" %}
    </div>
    <div class="button-holder">
        <a class="button" href="{% url 'mapbuilder:startmap' %}">Create A New Map</a>
    </div>

</div>
<script>
    $('#edit-map').click(function () {
        localStorage.setItem('edit', 'edit')
    })
</script>
{% endblock %}
