{% extends "mapbuilder/base.html" %} {% block content %} {% load static %}
<div class="start-map-container">
    <div class="start-map">
        <h1 class="main-title">GAHTC</h1>
        <h2 class="sub-title">Map Builder</h2>
        <p class="start-content">Map builder is a new tool to create maps for your lectures. Select to start from your
            recent projects or create a
            new map by searching for a location below.</p>
        <div class="index-content">
            <div class="search-bar start-bar">
                <button class="search-button ">
                    <i class="fa fa-search search-icon"></i>
                </button>
                <input type="text" class="search-input" placeholder="Search for a location" id="search-value">
            </div>
            <div class="step-button-holder">
                <a href="{% url 'mapbuilder:map' %}" class="button btn-next start-btn" id="submit-search">Start A New
                    Map
                </a>
            </div>
        </div>
        <div class="maps-nav">
            <div class="nav-component">
                <span class="title">My Recent Maps</span>
                <a href="{% url 'mapbuilder:map-export' id=recentMap.id %}" class="nav-link">
                    <span>{{recentMap.name}}</span>&nbsp;&nbsp;&nbsp;
                    <span> Created {{ recentMap.created_date|date:"m/d/Y" }}</span>
                </a>
                <a href="{% url 'mapbuilder:mymaps' %}" class="nav-action">View all My Maps
                    <img src="{% static 'css/images/arr.svg' %}" alt="">
                </a>
            </div>
            <div class="nav-component">
                <span class="title">Community Maps</span>
                <a href="{% url 'mapbuilder:index' %}" class="nav-link">View Map Index</a>
                <a href="#" class="nav-action" id="existing-map">Edit an Existing Map</a>
            </div>
        </div>


    </div>
</div>
<div class="edit-map-modal">
    <div class="edit-map-modal-content">
        <span class="close-button close-icon" id="cancel-button">&times;</span>
        <div class="edit-map-title-holder" >Edit An Existing Map</h3>
        </div>
        <div class="edit-map-content-holder">
            <div class="search-bar modal-search">
            <form   class="data-form" action="." method="GET" accept-charset="utf-8">
                <button class="search-button">
                    <i class="fa fa-search search-icon"></i>
                </button>
                <input id="q" type="text" class="search-input" placeholder="Search for a community map" name='q' value="">
            </form>
            </div>
            <div class="maps-nav">
                <div id ="results-container" class="nav-component modal-nav">
                        {% for map in maps %}
                        <a href="{% url 'mapbuilder:map-export' id=map.id %}" class="nav-link map-link">
                            <span>{{ map.name }}</span>
                            <span>Created {{ map.created_date|date:"m/d/Y" }}</span>
                        </a>
                        {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div> 

<script>
    $(document).ready( function() {
        $("#search-value").geocomplete().bind("geocode:result", function (event, result) {
            var lat = result.geometry.location.lat();
            var long = result.geometry.location.lng();
            localStorage.setItem('lat', lat);
            localStorage.setItem('long', long);
        });
        if(localStorage.getItem('edit'))
        {
            $('.edit-map-modal').css("display", "flex");
        }
        localStorage.clear()
    })
    $('#cancel-button').click(function(){

    })
    $("form").submit(function(e){
        e.preventDefault();
        searchMaps();
    });
     $('#search-button').click(function(){
        searchMaps();
    })

    function searchMaps(){
        $.ajax({
        type: "GET",
        url: "/mapbuilder/communitymaps/",
        data: {
            q: $("#q").val(),
        },
        success: function (data) {
            $("#results-container").html(data);
        },
        error: function (e) {
            console.log(e, "ERROR");
        }
    });
    }

    $('#cancel-button').click(function(){
        $('.edit-map-modal').css("display", "none");
    })
    $('#existing-map').click(function(){
        $('.edit-map-modal').css("display", "flex");
    })



</script>
{% endblock %}
