Thank you for signing up for a GAHTC account. To activate your account, please follow the link below:
<br />
<br /> http://{{ site.domain }}{% url 'registration_activate' activation_key %}
<br />
<br /> A GAHTC administrator will review your account as soon as possible and, if you belong to a teaching institution and will be using these course materials in your teaching, GAHTC will grant you access to download these materials. Until such time, you may browse these materials and create bundles of materials for download when you are granted access.
<br />
<br /> Thank you!
<br /> GAHTC | Global Architectural History Teaching Collaborative
