{% extends "cdadsurvey/base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
    	<div class="row">
			<div class="col-md-6">
				{% if validlink %}
					<h3>Password Reset Confirm</h3>
					<form method="post" action=".">
					  {% csrf_token %} 
					  {{ form|as_bootstrap }}
					  <input type="submit" class="btn btn-default" value="Submit" />
					</form>
					<br />
				{% else %}
					<h3>Password Reset Failed</h3>
					<p>Your attempt to reset your password failed. Please try again. If you continute to have trouble, please contact CDAD. Thank you!</p>
				{% endif %}
			</div>
		</div>
    </div> <!-- /container -->
{% endblock %}
