{% extends "website/base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="mapbuilder">
    <h3 class="map-header">
        Map Builder
    </h3>
    <p>Map Builder is a tool to help create historical maps using web mapping technology. </p>
    <input type="button"  class="create-button" value="Create A New Map" >
    <div>
        <span>Map Index</span>
        <div class="search-bar">
            <input type="text" class="search-input">
            <button class="btn btn-default pull-right search-button">
                <i class="fa fa-search search-icon" ></i>
            </button>
        </div>
    </div>
        
    
</div>
{% endblock %}
