.mapbuilder {
    width: 100%;
    height: 100%;
    padding: 60px 97px;
    position: relative;
    margin-bottom: auto;
}
.mapbuilder-header {
 text-transform: none;
  font-size: 36px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
  font-weight:bold;
}


#map-page-content {
    height: 60px;
    font-size: 19px;
    max-width: 662px;
}

.button-holder {
    display: flex;

}

.button {
    display: inline-block;
    width: 220px;
    height: 50px;
    border-radius: 3px;
    background-color: #323232;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
    margin-bottom: 50px;
} 
.button:hover , .button:focus {
    color: #ffffff;
    text-decoration: none;
}
.btn-next {
    margin-left: 50px;
}
.map-index {
    text-transform: none;
    font-size: 36px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #323232;
    font-weight: bold;
}
.index-content {
    display: flex;
}
.search-bar {
    position: relative;
    display: inline-block;
    width: 306px;
    height: 50px;
    margin-left: 20px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #9b9b9b;
    color: #969696;
    overflow: hidden;
    font-weight: bold;
} 

.search-button {
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
search-icon{
    color: #969696;
    font-weight: bold;
}
.search-input {
    border: 0;
    padding-left: 0;
    font-size: 18px;
    color: #969696;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    font-weight: normal;
}

.start-map {
    height: 100%;
    width: 42vw;
    margin: 70px auto auto;
}
.main-title {
    font-family: LinLibertineZ;
    font-size: 87px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #323232;
    margin-bottom: 0;
}
.sub-title {
    text-transform: none;
    font-family: LinLibertineZ;
    margin-top: 0;
    font-size: 65px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: normal;
    text-align: center;
    color: #323232;
}
.start-content {
  font-family: SourceSansPro;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  align-items: center;
  color: #323232;
  margin: 25px 0;
}

.start-btn {
    margin-left: 20px;
}

.start-bar {
    margin-left: 0;
    width: 70%;
}

.map-header {
    color: #D1D3D5;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    font-size: 40px;
    padding: 10px 50px ;
    position: relative;
    background: #EFE493;
}

.map-header-text {
    color: black;
    font-style: normal;
    text-transform: none;
}
#map {
    height: calc(100vh - 146px);
    z-index: 1;
}
.layer-switcher {
    position: absolute;
    height: 50px;
    width: 300px;
    top:250px;
    right: 55px;
    z-index: 2;
    background: white;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.layer-buttons {
    display: block;
    color: black;
    font-size: 14px;
    height: 100%;
    width: 33.33%;
    font-weight: normal;
}
.button-active {
    background: #EFE493;
    font-weight: bold;
}
.step-button {
    position: absolute;
    top: 25px;
    right: 45px;
 }
 .step-button:hover, .step-button:focus {
    color: #ffffff;
 }

 .step-button-holder {
     display: flex;
     position: absolute;
     top: 25px;
     right: 108px;
 }

 .button-group {
     width: 150px;
     margin: 0 5px;
 }
 .white-header {
     background: #FFFFFF;
 }

