{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>About GAHTC</h1>
			<img class="img-responsive img-rounded marginBottom15" src="{% static 'website/css/images/2015GroupPhoto.jpg' %}" />
			<p>
				In the last decade, the teaching of architectural history has undergone profound changes. The National Architectural Accrediting Board (NAAB), which sets out accreditation standards, now requires instruction in the history of architecture to include non-Western material. As a result, teachers of architectural survey courses at the graduate and undergraduate level are struggling to teach themselves how to best fulfill this requirement.
			</p>
			<p>
				Established teaching traditions are difficult to change. Most who teach architectural history are well versed in Western history and rely on a largely Eurocentric approach, however critically posited. Often the easiest strategy to cater to the non-Western requirement is to bring in additional experts to cover (for example) China and India. While this nominally fulfills the NAAB requirement, it essentially amounts to tokenism. The larger pedagogical and methodological challenge—to truly re-think the architectural survey from a global perspective—remains unfulfilled. What is needed is a significant overhaul of the categories and referential structures by which material is indexed and represented. This is the challenge to which the GAHTC is dedicated.
			</p>
			<h3>Content Creation</h3>
			<p>
				Beyond the core issue of methodology, the most significant challenge educators face lies in the availability of content. This is not just a question about buildings in far off places, but is also a question of research, documentation and scholarship. Archaeological material is not always easily accessible to teachers nor always easily translatable into lecture format. Documentation of sites in Asia and Africa are either nonexistent or have not been published. Similarly, context analysis is often missing or inadequate for the teaching of architectural history. And finally, as the canon of buildings, landscapes and cities becomes ever more inclusive, structures are continually added to the list of important edifices with little to explain their importance.
			</p>
			<p>
				The ambition of the GAHTC is to address the needs of educators in diverse disciplinary contexts by providing practical teaching materials for teaching global architectural history at the survey and introductory level. This effort does not preclude more advanced level education, but the main purpose of the Collaborative is to transform the discipline 'from below'—to help shape the discourse of architectural history by reshaping its teaching at the survey level. Teaching materials produced by the GAHTC will emphasize transnational and transgeographical perspectives, providing alternatives to architectural and art history courses organized by nation-based or style-based categories such as Italian', 'French', 'Chinese' and 'The Renaissance'.
			</p>
			<p>
				The <a href="{% url 'index' %}">GAHTC Grant Program</a> was initiated in 2014 to support the creation of teaching materials. Starting in 2016, content created by grant recipients will be made available to educators worldwide, free of cost, via a web-based repository.
			</p>
			<h3>Implications</h3>
			<p>
				It is our belief that a methodological transformation initiated in the field of architectural history would have potentially positive implications in allied disciplines in the liberal arts, particularly art history.
			</p>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
