{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>About GAHTC</h1>
			<img class="img-responsive img-rounded marginBottom15" src="{% static 'website/css/images/2015GroupPhoto.jpg' %}" />
			<p>
				The Global Architectural History Teaching Collaborative was formed to help teachers of architectural history meet the pressing realities of a global perspective. Teams of scholars have now constructed over 200 lectures that exist on a free, web-based, teacher-to-teacher platform. GAHTC will continue to expand its offerings in the next years with the aim to further enhance teaching capacity and collect innovative research.
			</p>
			<p>
				The GAHTC teaching library was established with the explicit intention of fostering new knowledge, collecting innovative research, and disseminating high-level and relevant research on global architectural history. 
			</p>
			<p>
				In the three years since its inception, the GAHTC has curated a substantial library of teaching material, ranging from single lectures, to an entire course module, complete with syllabus, exams, and PowerPoint presentations for each lecture. Indeed, the library now contains almost 200 lectures, and continues to grow as scholars from all over the world join the GAHTC, and contribute their research, helping the collaborative to thrive. Content created by grant recipients is available to educators worldwide, free of cost, via a web-based repository.
			</p>
			<p>
				The ambition of the GAHTC is to address the needs of educators in diverse disciplinary contexts by providing practical teaching materials for teaching global architectural history at the survey and introductory level. This effort does not preclude more advanced level education, but the main purpose of the Collaborative is to transform the discipline 'from below'—to help shape the discourse of architectural history by reshaping its teaching at the survey level. Teaching materials produced by the GAHTC will emphasize transnational and trans geographical perspectives, providing alternatives to architectural and art history courses organized by nation-based or style-based categories such as Italian', 'French', 'Chinese' and 'The Renaissance'.
			</p>
			<p>
				Generously funded by The Andrew W. Mellon foundation, the GAHTC will dedicate its more recent award of a $1.5 million grant to promoting the development of survey course material in the history of architecture, thus strengthening its position in humanities teaching, while also sponsoring teacher-to-teacher conversations to support pedagogy with a global perspective and a deep understanding of the importance of interdisciplinary exchanges with related disciplines.
			</p>
			<p>
				To accomplish these goals, the GAHTC has created six new funding opportunities for research and teaching. You can find more information on the various grants <a href="{% url 'grants' %}">here</a>.
			</p>
			<h3>Content Creation</h3>
			<p>
				Phase 1 of the GAHTC supported the collaboration of a community of scholars from around the world committed to infusing a global perspective into the academic preparation of the next generation of architectural historians. We attracted 98 members from the USA, Europe, Canada, Peru, Australia, India, China, Turkey and South Africa and hosted two conferences, in Boston and Chicago, with 50 and 65 registered attendees each. The members conference in Seattle united 90 participants. The rapid growth of our organization, not anticipated in the original planning of GAHTC, is a testament to the timeliness of the effort and the breadth of the interest in GAHTC's resources.
			</p>
			<p>
				Phase 2 of the GAHTC will dedicate nearly $500,000 to building new content, and will do so through a multi-pronged plan towards research and professional expansion. To that end, GAHTC2 will include six new grant funding opportunities. <a href="{% url 'grants' %}#targeted-acquisition-grants">Targeted Acquisition Grants</a>, <a href="{% url 'grants' %}#untargeted-field-initiated-grants">Untargeted Field-initiated Grants</a>, <a href="{% url 'grants' %}#emerging-scholar-grants">Emerging Scholar Grants</a>, <a href="{% url 'grants' %}#global-connections-fellowship">Global Connections Fellowship</a>, <a href="{% url 'grants' %}#research-to-teaching-grants">Research-to-Teaching Grants</a> in affiliation with SAH, and <a href="{% url 'grants' %}#travel-grants">Field Seminar Travel Grants</a>, also in affiliation with SAH.
			</p>
			<h3>Support</h3>
			<p>
				The GAHTC is funded by a grant from the <a href="https://mellon.org/">Andrew W. Mellon Foundation</a> and administered by <a href="http://sap.mit.edu/">MIT's School of Architecture and Planning</a> and its <a href="http://architecture.mit.edu/discipline/history-theory-and-criticism">History Theory and Criticism Program</a>.
			</p>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
