{% extends 'website/base_admin.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block head_js_block %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
{{ media }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css">
<style type="text/css">
	.selector {
		width: 100%;
	}
	.selector-available, .selector-chosen {
		width: 47.7%;
	}
	.selector select {
		width: 100%;
	}
	.selector h2 {
		font-size: 20px;
	}
	.selector .selector-filter {
	    font-size: 14px;
	}
	.selector .selector-available input {
		width: 87%;
	}
	.selector-available select {
		height: 100px;
	}
	.selector-chosen select {
		height: 142px;
	}
	.selector ul.selector-chooser {
	    margin: 5em 5px 0 5px;
	}
</style>
{% endblock %}	

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Module</h3>
		<form method="post" action=".">
			{% csrf_token %}
			{{ form|as_bootstrap }}
			<input type="hidden" name="referer" readonly value="{{ request.META.HTTP_REFERER }}">
			<a class="btn btn-default" href="/dashboard/" role="button">Cancel</a>
			<input type="submit" name="save" class="btn btn-primary" value="Save" />
			<input type="submit" name="new_module_document" class="btn btn-primary" value="Save and Add a Module Document" />
			<input type="submit" name="new_lecture" class="btn btn-primary" value="Save and Add a Lecture" />
		</form>
    </div>
  </div>
</div> <!-- /container -->


{% endblock %}


{% block js_block %}
<script type="text/javascript">
	// select the module we came from on page load
	$( document ).ready(function() {
		// hide #id_keywords
		$('#id_keywords').attr('type', 'hidden');
	});
</script>
{% endblock %}





	
	

