{% extends 'website/base_admin.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block head_js_block %}
{{ media }}
{% endblock %}

{% block css_block %}
<style type="text/css">
	ul.as-selections li.as-original input {
		height: 32px !important;
	}
</style>
{% endblock %}	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Remove Lecture</h3>
      <p>Removing this lecture will also remove the following documents and lecture segments. <strong><span class="text-danger">Be careful! This operation cannot be undone!</span></strong>
    </div>
   </div>
   	<div class="row">
		<div class="col-md-12">
			<h4>{{ lectureObject.title }}</h4>
			{% if lectureDocs|length > 0 or lectureSegs|length > 0  %}
			<h4><small>This lecture includes:</small></h4>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if lectureDocs|length > 0 %}
				<strong>Documents</strong>
				<br />
				<ul>				
				{% for doc in lectureDocs %}
					<li><a href="/media/{{ doc.document }}">{{ doc.documentName }}</a> ({{ doc.document.size|filesizeformat }})</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if lectureSegs|length > 0 %}
				<strong>Lecture Segments</strong>
				<br />
				<ul>				
				{% for lec in lectureSegs %}
					<li><a href="/media/{{ lec.presentation }}">{{ lec.title }}</a> (PPTX; {{ lec.presentation.size|filesizeformat }})</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	<br />
   <div class="row">
    <div class="col-md-8">
		<form method="post" action=".">
			{% csrf_token %}
			{{ form|as_bootstrap }}
			<input type="hidden" name="referer" readonly value="{{ request.META.HTTP_REFERER }}">
			<a class="btn btn-default" href="/dashboard/" role="button">Cancel</a>
			<input type="submit" name="delete" class="btn btn-danger" value="Remove Lecture" />
		</form>
    </div>
  </div>
</div> <!-- /container -->


{% endblock %}


{% block js_block %}
{% endblock %}





	
	

