{% extends 'website/base_admin.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block head_js_block %}
{{ media }}
{% endblock %}

{% block css_block %}
<style type="text/css">
	ul.as-selections li.as-original input {
		height: 32px !important;
	}
</style>
{% endblock %}	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Lecture Segment</h3>
		<form enctype="multipart/form-data" method="post" action=".">
			{% csrf_token %}
			{{ form|as_bootstrap }}
			<input type="hidden" name="referer" readonly value="{{ request.META.HTTP_REFERER }}">
			<a class="btn btn-default" href="/dashboard/" role="button">Cancel</a>
			<input type="submit" name="save" class="btn btn-primary" value="Save" />
			<input type="submit" name="new_lecure_segment" class="btn btn-primary" value="Save and Add Another Lecture Segment" />
		</form>
    </div>
  </div>
</div> <!-- /container -->


{% endblock %}


{% block js_block %}
<script type="text/javascript">
	// select the module we came from on page load
	$( document ).ready(function() {
		// if no is selected, add 0 to board member number values
		var lectureid = '{{ lectureid }}';
		if (lectureid != 'None' && lectureid != '0') {
			$('#id_lecture').val(lectureid);
		}
		// hide #id_keywords
		$('#id_keywords').attr('type', 'hidden');

	});
</script>
{% endblock %}





	
	

