{% extends 'website/base_admin.html' %} {% load staticfiles %} {% load bootstrap_tags %} {% block title %}Edit a User Profile{% endblock %} {% block head_js_block %} {% endblock %} {% block css_block %} {% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Verify a User Profile</h3>
        </div>
    </div>
    <div class="row marginTop30">
        <div class="col-md-6">
            <p>
                <strong>First Name:</strong> {{ user_profile.first_name }}
                <br>
                <strong>Last Name:</strong> {{ user_profile.last_name }}
                <br>
                <strong>Email:</strong> {{ user_profile.user.email }}
                <br>
                <strong>Institutional affiliation:</strong> {{ user_profile.institution }}
                <br>
                <strong>Title/Academic Rank:</strong> {{ user_profile.title }}
                <br>
                <strong>Institution address:</strong> {{ user_profile.institution_address }}
                <br>
                <strong>City:</strong> {{ user_profile.institution_city }}
                <br>
                <strong>Country:</strong> {{ user_profile.institution_country }}
                <br>
                <strong>Postal Code:</strong> {{ user_profile.institution_postal_code }}
                <br>
                <strong>Website:</strong> {{ user_profile.website }}
                <br>
            </p>
            <p>
                <strong>Bio</strong>
                <br> {{ user_profile.introduction }}
            </p>
        </div>
        {% if user_profile.avatar %}
        <div class="col-md-4 col-md-offset-2">
            <img class="img-responsive" src="/media/{{ user_profile.avatar }}" />
        </div>
        {% endif %}
    </div>
    <div class="row marginTop30">
        <div class="col-md-6">
            <form method="post" action=".">
                {% csrf_token %} {{ verify_form|as_bootstrap }}
                <input type="hidden" name="referer" readonly value="{{ request.META.HTTP_REFERER }}">
                <input type="submit" class="btn btn-primary" value="Save" />
            </form>
        </div>
    </div>
</div>
</div>
<!-- /container -->
{% endblock %} {% block js_block %} {% endblock %}
