{% extends 'website/base_admin.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block head_js_block %}
{{ media }}
{% endblock %}

{% block css_block %}
{% endblock %}	

{% block content %}

<div class="container">
	<form enctype="multipart/form-data" method="post" action=".">
	  <div class="row">
	    <div class="col-md-8">
	      <h3>Lecture</h3>
				{% csrf_token %}
				{{ form|as_bootstrap }}
		</div>
	  </div>
	  <div class="row">
	    <div class="col-md-12">
    		<a class="btn btn-default" href="/dashboard/" role="button">Cancel</a>
    		<input type="hidden" name="referer" readonly value="{{ request.META.HTTP_REFERER }}">
			<input type="submit" name="save" class="btn btn-primary" value="Save" />
			<input type="submit" name="new_lecure_document" class="btn btn-primary" value="Save and Add a Lecture Document" />
			<input type="submit" name="new_lecure" class="btn btn-primary" value="Save and Add Another Lecture" />
		</div>
	  </div>
	</form>
</div> <!-- /container -->


{% endblock %}


{% block js_block %}
<script type="text/javascript">
	// select the module we came from on page load
	$( document ).ready(function() {
		// if no is selected, add 0 to board member number values
		var moduleid = '{{ moduleid }}';
		if (moduleid != 'None' && moduleid != '0') {
			$('#id_module').val(moduleid);
		}
		// hide #id_keywords
		$('#id_keywords').attr('type', 'hidden');
	});
</script>
{% endblock %}





	
	

