{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="text-heavy-view marginBottom100">
	<main>
		<h1>GAHTC Podcasts</h1>
		<p>
			The objective of the GAHTC podcasts is to introduce various modules within the GAHTC. Rather than a summary of the contents of the Module, the podcast will engage the voice of the team leader, with the objective of gaining a sense of the underlying intentions and interests of the module. This should help clarify and establish the intellectual aim of GAHTC, as its authors search for new epistemic horizons, along with providing the teaching materials themselves.
		</p>
		<h4 id="1">1: The Architecture of First Societies with Mark Jarzombek (GAHTC)</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5323458/height/90/width/700/theme/custom/autonext/no/thumbnail/yes/autoplay/no/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			MIT Professor Mark Jarzombek discusses his GAHTC module on the Architecture of <a href="http://gahtc.org/browse/#heading_9">First Societies</a>, establishing the importance of thinking architecture beyond established canons based on cities and technology. Instead he argues the origins of architecture in the ‘social package’ and in the representational networks of ‘modeling’.
		</p>
		<h4 id="4">4: Crossroads of Civilizations: The Medieval Mediterranean with Carla Keyvanian (GAHTC)</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5750617/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Carla Keyvanian, Associate Professor of Architecture at Auburn University, talks about her module for GAHTC that looks at the ‘Medieval’ architecture as a product of the complex cultural crossroads of the Mediterranean, that includes Islamic, African and diverse Christian forces, rather than just a ‘Romanesque’ evolution. Topics include Byzantium, Armenia, Umayyads, and Córdoba. We also discuss the Crusades and their abiding influence on contemporary conflicts.			
		</p>
		<h4 id="8">8: Architecture and the Islamic World Today with Mariam Kamara and Yasaman Esmaili</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5968349/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/ff6800/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Architects from Niger and Iran, <a href="http://www.ateliermasomi.com/news/">Mariam Kamara</a> and  <a href="https://www.linkedin.com/in/yasaman-esmaili-1b16b714">Yasaman Esmaili</a>, discuss their award-winning work, the challenges of practicing globally, and the difficulties and rewards of learning to translate across languages and cultures via architecture. Topics include: feminism and architecture, Islam in the world, international practice, and the non-Western roots of the modernist aesthetic.		
		</p>
		<h4 id="9">9: Art Curation and Architecture with Catharina Manchanda</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5991950/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/ff6800/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			<a href="https://www.seattlemet.com/articles/2013/3/20/meet-catharina-manchanda-sams-modern-art-curator-march-2013">Catharina Manchanda</a>, the Jon and Mary Shirley Curator of Modern and Contemporary Art at Seattle Art Museum, discusses the complexities of art curation as a social, cultural, aesthetic and spatial practise, both in the local and global contexts. Topics include: exhibition design, Seattle art culture, design as staging, the impact of the digital, and building facades as art canvas.		
		</p>
		<h4 id="10">10: Messy Urbanism with Jeff Hou and Manish Chalana</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/6065626/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/ff6800/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Jeff Hou and Manish Chalana, Professors of Landscape Architecture and Urban Design and Planning at the University of Washington, discuss the 'mess' that makes the vitality of the contemporary Asian city, and the lessons one might draw form that in thinking about the future of a city like Seattle. Discussion topics include: Event-city, Mekong Railway Market, slum porn, filmic narratives and racial segregation.  		
		</p>
		<h4 id="11">11: The Life and Work of Pierre Jeanneret with Maristella Casciato</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/6112105/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/ff6800/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Maristella Casciato, Senior Curator Architecture at the Getty Research Institute, Los Angeles, discusses the life and legacy of Pierre Jeanneret, the Chief Architect of Chandigarh, India, and cousin, collaborator, confidant to Le Corbusier. Discussion topics include the legacy of his (in)famous furniture,  Charlotte Perriand, and the special relationships he developed with India and the Indian architects and planners. 		
		</p>			
	</main>
</div>
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
