{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="text-heavy-view marginBottom100">
	<main>
		<h1>GAHTC Podcasts</h1>
		<p>
			The objective of the GAHTC podcasts is to introduce various modules within the GAHTC. Rather than a summary of the contents of the Module, the podcast will engage the voice of the team leader, with the objective of gaining a sense of the underlying intentions and interests of the module. This should help clarify and establish the intellectual aim of GAHTC, as its authors search for new epistemic horizons, along with providing the teaching materials themselves.
		</p>
		<h4 id="1">1: The Architecture of First Societies with Mark Jarzombek (GAHTC)</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5323458/height/90/width/700/theme/custom/autonext/no/thumbnail/yes/autoplay/no/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			MIT Professor Mark Jarzombek discusses his GAHTC module on the Architecture of <a href="http://gahtc.org/browse/#heading_9">First Societies</a>, establishing the importance of thinking architecture beyond established canons based on cities and technology. Instead he argues the origins of architecture in the ‘social package’ and in the representational networks of ‘modeling’.
		</p>
		<h4 id="4">4: Crossroads of Civilizations: The Medieval Mediterranean with Carla Keyvanian (GAHTC)</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5750617/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Carla Keyvanian, Associate Professor of Architecture at Auburn University, talks about her module for GAHTC that looks at the ‘Medieval’ architecture as a product of the complex cultural crossroads of the Mediterranean, that includes Islamic, African and diverse Christian forces, rather than just a ‘Romanesque’ evolution. Topics include Byzantium, Armenia, Umayyads, and Córdoba. We also discuss the Crusades and their abiding influence on contemporary conflicts.			
		</p>
		<h4 id="12">12: Global Modernism with Tom Avermaete (GAHTC)</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/6147547/height/90/theme/custom/autoplay/no/autonext/no/thumbnail/yes/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/ff6800/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Tom Avermaete and I discuss his GAHTC module, co-authored with Michelangelo Sabatino, on the historiography of mid-century modernism. Entitled "The Global Turn" the six lectures of their module articulate an alternative history of modernism as a network of collaborations cultivated in the context of the decolonizing world. Discussion topics include (post)colonial modernism, multi-layered collaborations, migration and housing, modernism and neoliberalism, Chandigarh, Casablanca and the 'commons' in the city.			
		</p>		
	</main>
</div>
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
