{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="text-heavy-view marginBottom100">
	<main>
		<h1>GAHTC Podcasts</h1>
		<p>
			The objective of the GAHTC podcasts is to introduce various modules within the GAHTC. Rather than a summary of the contents of the Module, the podcast will engage the voice of the team leader, with the objective of gaining a sense of the underlying intentions and interests of the module. This should help clarify and establish the intellectual aim of GAHTC, as its authors search for new epistemic horizons, along with providing the teaching materials themselves.
		</p>
		<h4 id="1">1: The Architecture of First Societies with Mark Jarzombek (GAHTC)</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5323458/height/90/width/700/theme/custom/autonext/no/thumbnail/yes/autoplay/no/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			MIT Professor Mark Jarzombek discusses his GAHTC module on the Architecture of <a href="http://gahtc.org/browse/#heading_9">First Societies</a>, establishing the importance of thinking architecture beyond established canons based on cities and technology. Instead he argues the origins of architecture in the ‘social package’ and in the representational networks of ‘modeling’.
		</p>
		<h4 id="2">2: Architectural Culture of Seattle Today with Cassie Blair, JoAnn Hindmarsh Wilcox and Tim Richey</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5724756/height/90/width/700/theme/custom/autonext/no/thumbnail/yes/autoplay/no/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Cassie Blair, JoAnn Hindmarsh Wilcox and Tim Richey are part of the committee putting on the 2017 Seattle AIA awards. We discuss trends in the local architecture and talk about how this fast‐growing city can serve its residents. Topics include: migration, diversity, regionalism, densification, risk‐taking and the pains of a growing city.
		</p>
		<h4 id="3">3: Rethinking Historic Preservation with Jorge Otero‐Pailos</h4>
		<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/5724728/height/90/width/700/theme/custom/autonext/no/thumbnail/yes/autoplay/no/preload/no/no_addthis/no/direction/forward/render-playlist/no/custom-color/000000/" height="90" width="700" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
		<p>
			Columbia University’s Jorge Otero‐Pailos is a prolific architect, artist, educator and preservationist. He questions the invisibility of preservation and what an act of restoration is, looking closely at what is lost when for example buildings are cleaned. Topics discussed include preservation as memory, future and how it is, or isn’t, ‘overtaking us’.
		</p>
	</main>
</div>
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
