<!-- Base GAHTC template -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Global Architectural History Teaching Collaborative | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'website/css/images/favicon.png' %}" sizes="32x32" />
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Pacifico|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}"> {% block css_block %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <!--  javascript
    ================================================== -->
    <!-- Only jquery goes here to load autocomplete on forms-->
    <script type="text/javascript" src="{% static 'website/js/jquery-1.11.3.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_js_block %} {% endblock %}
</head>

<body id="top">
    <nav class="navbar navbar-default main-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header-holder">
                <div class="navbar-header">
                    <a href="/">
                        <img src="{% static 'website/css/images/gahtc_logo.svg' %}" class='uncollapsed-logo'>
                    </a>
                    <div class='collapsed-container dropdown'>
                        <button class='dropdown-toggle hamburger-dropdown' type='button' data-toggle='dropdown'>
                            <img src="{% static 'website/css/images/hamburger_icon_grey.svg' %}" class='hamburger-icon'>
                        </button>
                        <a href="/">
                            <img src="{% static 'website/css/images/gahtc_logo_collapsed.svg' %}" class='collapsed-logo'>
                        </a>
                        <aside class='sidenav'>
                            <div class="menu-item">
                                <p>About</p>
                                <ul class='submenu'>
                                    <li>
                                        <a href="/pages/mission-statement/">Mission Statement</a>
                                    </li>
                                    <li>
                                        <a href="/pages/about-gahtc/">About GAHTC</a>
                                    </li>
                                    <li>
                                        <a href="/pages/how-to-use-gahtc/">How to Use GAHTC</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-item">
                                <p>Teaching Material</p>
                                <ul class='submenu'>
                                    <li>
                                        <a href="{% url 'modulesView' %}">Explore Content</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'indexView' %}">Library Index</a>
                                    </li>
                                    <li>
                                        <a href="/pages/architecture-talk/">ArchitectureTalk Podcast</a>
                                    </li>
                                    <li>
                                        <a href="/pages/timescape/">Timescape</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'mapbuilder:startmap' %}">Map Builder</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-item">
                                <p>Membership</p>
                                <ul class='submenu'>
                                    <li>
                                        <a href="/pages/how-to-become-a-member/">How to Become a Member</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'membersView' %}">Browse Current Members</a>
                                    </li>
                                    <li>
                                        <a href="/pages/members-conference/">Bi-Annual Members' Conference</a>
                                    </li>
                                    <li>
                                        <a href="/pages/testimonials/">Testimonials</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-item">
                                <p>Apply for a Grant</p>
                                <ul class='submenu'>
                                    <li>
                                        <a href="/pages/grants/">All Grant Opportunities</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/resources-applicants-grantees">Resources for Applicants and Grantees</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/targeted-acquisition-grants/">Targeted Acquisition Grants</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/research-to-teaching-grants/">Research-to-Teaching Grants in affiliation with SAH</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/emerging-scholar-grants/">Emerging Scholar Grants</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/travel-grants/">Field Seminar Travel Grants in affiliation with SAH</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/untargeted-field-initiated-grants/">Untargeted Field-initiated Grants</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/global-connections-fellowship/">Global Connections Fellowship</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/teacher-to-teacher-workshops">Teacher-to-Teacher Workshops</a>
                                    </li>
                                    <li>
                                        <a href="/pages/grants/previous-grant-recipients">Previous Grant Recipients</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu-item">
                                <p>
                                    <a href="/pages/contact-us/">Contact Us</a>
                                </p>
                            </div>
                        </aside>
                    </div>
                    {% comment %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gahtc-navbar-collapse"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> {% endcomment %}
                </div>
                <ul class="nav navbar-nav user-nav">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <p>{{ request.user.userProfile.first_name }} {{ request.user.userProfile.last_name }}</p>
                            {% if request.user.userProfile.avatar %}
                            <div class="user-profile" style="background: url('/media/{{ request.user.userProfile.avatar }}'); background-repeat: no-repeat; background-size: cover"></div>
                            {% else %}
                            <div class="user-profile" style="background: url('{% static 'website/css/images/gahtc-logo.png' %}'); background-repeat: no-repeat; background-size: cover"></div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu user-profile-dropdown-menu">
                            {% if perms.website.add_modules %}
                            <li>
                                <a href="{% url 'dashboard' %}">Admin Area</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'myprofile' %}">My Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'mybundles' %}">My Course Bundles</a>
                            </li>
                            <li>
                                <a href="{% url 'mysavedsearches' %}">My Saved Searches</a>
                            </li>
                            <li>
                                <a href="{% url 'auth_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% else %}
            <li>
                <a href="{% url 'auth_login' %}">Log In</a>
            </li>
            <li>
                <a href="{% url 'registration_register' %}">Create Account</a>
            </li>
            {% endif %}
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        {% block navlink %}
        <div class="navigation-links">
            <div class="collapse navbar-collapse" id="gahtc-navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" id='dropdown-toggle' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/pages/mission-statement/">Mission Statement</a>
                            </li>
                            <li>
                                <a href="/pages/about-gahtc/">About GAHTC</a>
                            </li>
                            <li>
                                <a href="/pages/how-to-use-gahtc/">How to Use GAHTC</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="dropdown-toggle" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teaching Material
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'modulesView' %}">Explore Content</a>
                            </li>
                            <li>
                                <a href="{% url 'indexView' %}">Library Index</a>
                            </li>
                            <li>
                                <a href="/pages/architecture-talk/">ArchitectureTalk Podcast</a>
                            </li>
                            <li>
                                <a href="/pages/timescape/">Timescape</a>
                            </li>
                            <li>
                                <a href="{% url 'mapbuilder:startmap' %}">Map Builder</a>
                            </li>
                        </ul>
                        <li class="dropdown">
                            <a href="#" id='dropdown-toggle' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membership
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/pages/how-to-become-a-member/">How to Become a Member</a>
                                </li>
                                <li>
                                    <a href="{% url 'membersView' %}">Browse Current Members</a>
                                </li>
                                <li>
                                    <a href="/pages/members-conference/">Bi-Annual Members' Conference</a>
                                </li>
                                <li>
                                    <a href="/pages/testimonials/">Testimonials</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" id='dropdown-toggle' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apply for a Grant
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/pages/grants/">All Grant Opportunities</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/resources-applicants-grantees">Resources for Applicants and Grantees</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/targeted-acquisition-grants/">Targeted Acquisition Grants</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/research-to-teaching-grants/">Research-to-Teaching Grants in affiliation with SAH</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/emerging-scholar-grants/">Emerging Scholar Grants</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/travel-grants/">Field Seminar Travel Grants in affiliation with SAH</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/untargeted-field-initiated-grants/">Untargeted Field-initiated Grants</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/global-connections-fellowship/">Global Connections Fellowship</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/teacher-to-teacher-workshops">Teacher-to-Teacher Workshops</a>
                                </li>
                                <li>
                                    <a href="/pages/grants/current-modules-works/">Current Modules "In the Works"</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown contact-us">
                            <a href="/pages/contact-us/">Contact Us</a>
                        </li>
                </ul>
            </div>
            <a href="/pages/contact-us/">Contact Us</a>
        </div>
        {% endblock %}
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div style='display: flex; flex-direction: column; flex-grow: 100' class='main-content'>
        {% block content %} {% endblock %}

        <!-- <footer class="footer">

            <p class="text-muted">Copyright &copy; {% now 'Y' %} | All Rights Reserved | GAHTC: Global Architectural History Teaching Collaborative</p>

    </footer> -->


    </div> {% block modal_block %} {% endblock %}
    <!--  javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
    {% block js_block %} {% endblock %}
</body>

</html>