{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
	{% block css_block %}
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{% static 'website/css/main.css' %}">
    <!--  javascript
    ================================================== -->
    <!-- Only jquery goes here to load autocomplete on forms-->	
	<script type="text/javascript" src="{% static 'website/js/jquery-1.11.3.min.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% block head_js_block %}
	{% endblock %}
		
  </head>

  <body>
	{% block body_block %}
	{% endblock %}
	
    <!--  javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
	{% block js_block %}
	{% endblock %}

	<!-- ajax loading page modal -->
	<div class="loading-modal"></div>

	{% block modal_block %}
	{% endblock %}
		
  </body>
</html>
