{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Workshop{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Conference</h1>
			<div class="well">
				<h3>2016 GAHTC CONFERENCE</h3>
				<p>
					Seattle, Washington<br />
					Friday October 7, beginning at noon.<br />
					Saturday October 8, ending at 7pm.<br />
					<hr />
					<a href="http://goo.gl/forms/M9kHy3BbIFs8DQYv1">RSVP for the conference now</a> *closes June 30th.
					<hr />
					<a href="{% url 'reimbursement' %}">Travel Expenses and Reimbursements information.</a> (updated 5/31/2016)<br />
					<a href="{% url 'schedule' %}">Draft Schedule</a> (updated 5/31/2016)

				</p>
			</div>
			<h3>Past Conferences</h3>
			<hr />
			<h4>2015 GAHTC CONFERENCE</h4>
			<p>
				October 16-18, 2015<br />
				Illinois Institute of Technology<br />
				Chicago, IL
			</p>
			<h4>2014 GAHTC CONFERENCE</h4>
			<p>
				September 26-27, 2014<br />
				Massachusetts Institute of Technology<br />
				Cambridge, MA
			</p>
			<h4><a href="{% url 'workshop2013' %}">2013 GAHTC WORKSHOP</a></h4>
			<p>
				May 17-18, 2013<br />
				Massachusetts Institute of Technology<br />
				Cambridge, MA
			</p>

		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
