{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Workshop{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Contact GAHTC</h1>
			<p>
				To contact us at GAHTC, please send an email to <img src="{% static 'website/css/images/email.png' %}" style="margin-bottom: 2px;">. Thank you!
			</p>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
