
{% load staticfiles %} 

		{% if saved_searches %}
			<ul>
			{% for search in saved_searches %}
				<li>
					<a href="/search/?keyword={{ search.searchString }}">{{ search.searchString }}</a> 
						<button class="btn btn-link btn-xs removeSearch" data-searchid="{{ search.id }}"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></button>
				</li>
			{% endfor %}
			</ul> 
		{% else %}
			<div class="col-md-6">
				<h4>No Searches Yet Saved!</h4>
				<p>After you have searched for course materials using the search box above, you can save and return to your search by clicking the <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> button to the right of the search box.</p>
			</div>
		{% endif %}



