
{% load staticfiles %} 

		{% if saved_searches %}
			<ul class="marginTop30">
			{% for search in saved_searches %}
				<li>
					<a href="/search/?keyword={{ search.searchString }}">{{ search.searchString }}</a> 
					<a href="#" class="removeSearch remove-from-bundle-link" data-searchid="{{ search.id }}" title="Remove saved search">
						[remove]
					</a>					
				</li>
			{% endfor %}
			</ul> 
		{% else %}
			<div class="col-md-6">
				<h4>No Searches Yet Saved!</h4>
				<p>After you have searched for course materials using the search box above, you can save and return to your search by clicking the <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> button to the right of the search box.</p>
			</div>
		{% endif %}



