{% extends 'website/base_admin.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head_js_block %}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap-sortable.css' %}">
{% endblock %}
	

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Admin Dashboard</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    	<h4>Modules</h4>
    	<a class="btn btn-default" href="{% url 'admin_module' %}" role="button">Create a Module</a>
    	<br /><br />
    	{% if modulesObjects %}
        <table class="table table-striped table-condensed sortable">
		    <thead>
		      <th>Status</th>
		      <th>Edit</th>
		      <th>Remove</th>
		      <th>Title</th>
		      <th>Authors</th>
		      <th>Created</th>
		    </thead>
		    <tbody>
		      {% for module in modulesObjects %}
		        <tr>
		          <td>
		            <p class="text-success"><strong>Ready to Go</strong></p>
		          </td>
		          <td>
		          	<a class="btn btn-default" href="/admin_module/{{ module.id }}" role="button">Edit</a>
		          </td>
		          <td>
		          	<a class="btn btn-danger" href="/admin_removemodule/{{ module.id }}" role="button">Remove</a>
		          </td>
		          <td>{{ module.title }}</td>
		          <td>{{ module.authors }}</td>
		          <td>{{ module.created }}</td>
		        </tr>
		      {% endfor %}
		    </tbody>
		  </table>
		  {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    	<h4>Module Documents</h4>
    	<a class="btn btn-default" href="{% url 'admin_moduledoc' %}" role="button">Create a Module Document</a>
    	<br /><br />
    	{% if moduleDocumentsObjects %}
        <table class="table table-striped table-condensed sortable">
		    <thead>
		      <th>Status</th>
		      <th>Edit</th>
		      <th>Remove</th>
		      <th>Module</th>
		      <th>Title</th>
		      <th>Authors</th>
		      <th>Created</th>
		    </thead>
		    <tbody>
		      {% for moduleDocument in moduleDocumentsObjects %}
		        <tr>
		          <td>
		            {% if moduleDocument.extracted %}
		              <p class="text-success"><strong>Ready to Go</strong></p>
		            {% else %}
		              <p class="text-info"><strong>Data Being Extracted</strong></p>
		            {% endif %}
		          </td>
		          <td>
		          	<a class="btn btn-default" href="/admin_moduledoc/{{ moduleDocument.id }}" role="button">Edit</a>
		          </td>
		          <td>
		          	<a class="btn btn-danger" href="/admin_removemoduledoc/{{ moduleDocument.id }}" role="button">Remove</a>
		          </td>
		          <td>{{ moduleDocument.module.title }}</td>
		          <td>{{ moduleDocument.title }}</td>
		          <td>{{ moduleDocument.authors }}</td>
		          <td>{{ moduleDocument.created }}</td>
		        </tr>
		      {% endfor %}
		    </tbody>
		  </table>
		  {% endif %}
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
    	<h4>Lectures</h4>
    	<a class="btn btn-default" href="{% url 'admin_lecture' %}" role="button">Create a Lecture</a>
    	<br /><br />
    	{% if lecturesObjects %}
        <table class="table table-striped table-condensed sortable">
		    <thead>
		      <th>Status</th>
		      <th>Edit</th>
		      <th>Remove</th>
		      <th>Module</th>
		      <th>Title</th>
		      <th>Authors</th>
		      <th>Created</th>
		    </thead>
		    <tbody>
		      {% for lecture in lecturesObjects %}
		        <tr>
		          <td>
		            {% if lecture.extracted %}
		              <p class="text-success"><strong>Ready to Go</strong></p>
		            {% else %}
		              <p class="text-info"><strong>Data Being Extracted</strong></p>
		            {% endif %}
		          </td>
		          <td>
		          	<a class="btn btn-default" href="/admin_lecture/{{ lecture.id }}" role="button">Edit</a>
		          </td>
		          <td>
		          	<a class="btn btn-danger" href="/admin_removelecture/{{ lecture.id }}" role="button">Remove</a>
		          </td>
		          <td>{{ lecture.module.title }}</td>
		          <td>{{ lecture.title }}</td>
		          <td>{{ lecture.authors }}</td>
		          <td>{{ lecture.created }}</td>
		        </tr>
		      {% endfor %}
		    </tbody>
		  </table>
		  {% endif %}
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
    	<h4>Lecture Segments</h4>
    	<a class="btn btn-default" href="{% url 'admin_lecturesegment' %}" role="button">Create a Lecture Segment</a>
    	<br /><br />
    	{% if lectureSegmentsObjects %}
        <table class="table table-striped table-condensed sortable">
		    <thead>
		      <th>Status</th>
		      <th>Edit</th>
		      <th>Remove</th>
		      <th>Module</th>
		      <th>Lecture</th>
		      <th>Title</th>
		      <th>Authors</th>
		      <th>Created</th>
		    </thead>
		    <tbody>
		      {% for ls in lectureSegmentsObjects %}
		        <tr>
		          <td>
		            {% if ls.updated_lecture_review %}
		              <p class="text-warning"><strong>Updated Lecture, Please Review</strong></p>
		            {% elif ls.extracted %}
		              <p class="text-success"><strong>Ready to Go</strong></p>
		            {% else %}
		              <p class="text-info"><strong>Data Being Extracted</strong></p>
		            {% endif %}
		          </td>
		          <td>
		          	<a class="btn btn-default" href="/admin_lecturesegment/{{ ls.id }}" role="button">Edit</a>
		          </td>
		          <td>
		          	<a class="btn btn-danger" href="/admin_removelecturesegment/{{ ls.id }}" role="button">Remove</a>
		          </td>
		          <td>{{ ls.lecture.module.title }}</td>
		          <td>{{ ls.lecture.title }}</td>
		          <td>{{ ls.title }}</td>
		          <td>{{ ls.lecture.authors }}</td>
		          <td>{{ ls.created }}</td>
		        </tr>
		      {% endfor %}
		    </tbody>
		  </table>
		  {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
    	<h4>Lecture Documents</h4>
    	<a class="btn btn-default" href="{% url 'admin_lecturedoc' %}" role="button">Create a Lecture Document</a>
    	<br /><br />
    	{% if lectureDocumentsObjects %}
        <table class="table table-striped table-condensed sortable">
		    <thead>
		      <th>Status</th>
		      <th>Edit</th>
		      <th>Remove</th>
		      <th>Module</th>
		      <th>Lecture</th>
		      <th>Title</th>
		      <th>Authors</th>
		      <th>Created</th>
		    </thead>
		    <tbody>
		      {% for ld in lectureDocumentsObjects %}
		        <tr>
		          <td>
		            {% if ld.extracted %}
		              <p class="text-success"><strong>Ready to Go</strong></p>
		            {% else %}
		              <p class="text-info"><strong>Data Being Extracted</strong></p>
		            {% endif %}
		          </td>
		          <td>
		          	<a class="btn btn-default" href="/admin_lecturedoc/{{ ld.id }}" role="button">Edit</a>
		          </td>
		          <td>
		          	<a class="btn btn-danger" href="/admin_removelecturdoc/{{ ld.id }}" role="button">Remove</a>
		          </td>
		          <td>{{ ld.lecture.module.title }}</td>
		          <td>{{ ld.lecture.title }}</td>
		          <td>{{ ld.title }}</td>
		          <td>{{ ld.lecture.authors }}</td>
		          <td>{{ ld.created }}</td>
		        </tr>
		      {% endfor %}
		    </tbody>
		  </table>
		  {% endif %}
    </div>
  </div>


</div> <!-- /container -->
{% endblock %}


{% block js_block %}
<script type="text/javascript" src="{% static 'website/js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/bootstrap-sortable.js' %}"></script>
{% endblock %}





	
	

