{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Grant Program{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Grant Program</h1>
			<p>
				The next grant cycle is now open. The deadline for the current grant cycle is October 1st, 2015. Please refer to the <a href="{% static 'website/docs/grant-guidelines.pdf' %}">2015 Grant Proposal Guidelines</a> before <a href="http://goo.gl/forms/FzY2QaWwOS">submitting an application</a>.
			</p>
			<p>
				The GAHTC grant program supports the creation of materials and tools for teaching the global history of architecture. Our goal is to produce a rich, provocative, user-friendly body of teaching material, ranging in scale from lecture modules to complete courses, for survey and introductory-level courses in diverse disciplinary contexts.
			</p>
			<p>
				The GAHTC grant program began a 3-year pilot period in 2014, during which proposals are accepted from GAHTC members only. In 2016, at the end of the pilot period, teaching materials produced by grant recipients will become publicly available, free of cost, via this web-based repository.
			</p>
			<h2>Spring 2014 Grant Recipients</h2>
			<h3>"Architecture and Climate in a Global Perspective"</h3>
			<p>
				Daniel Barber (University of Pennsylvania)<br />
				Jiat-Hwee Chang (National University of Singapore)<br />
				Iain Jackson (University of Liverpool)<br />
				Rachel Lee (Technological University, Berlin)<br />
				Albert Narath (University of Oregon)<br />
				Ola Uduku (University of Edinburgh)
			</p>
			<h3>"Sites and Systems of Global Modernity"</h3>
			<p>
				Robert Cowherd (Wentworth Institute of Technology)<br />
				Patrick Haughey (Savannah College of Art and Design)
			</p>
			<h3>"The Architecture of Global Modernity, 1000-2000 CE"</h3>
			<p>
				Kenny Cupers (University of Illinois at Urbana-Champaign)<br />
				Prita Maier (University of Illinois at Urbana-Champaign)
			</p>
			<h3>"Globalizing a Humanities Approach to Architectural History"</h3>
			<p>
				Ann Huppert (University of Washington)<br />
				Thaisa Way (University of Washington)
			</p>
			<h3>"The Modern Metropolis"</h3>
			<p>
				Eric Mumford (Washington University, St. Louis)<br />
				Shariff Kahatt (Pontificia Universidad Católica del Peru)<br />
				Seng Kuan (Washington University, St. Louis)
			</p>
			<h3>"Scales of Modernity"</h3>
			<p>
				Jonathan Massey (California College of Arts)<br />
				Ayala Levin (Columbia University)<br />
				Diana Martinez (Pratt Institute)<br />
				Ginger Nolan (Pratt Institute)<br />
				Meredith TenHoor (Pratt Institute)
			</p>
			<h3>"The Global Turn: Architecture and the Built Environment Since World War Two"</h3>
			<p>
				Michelangelo Sabatino (Illinois Institute of Technology)<br />
				Tom Avermaete (Delft University of Technology)
			</p>
			<h3>"East Asian Architecture from A Global Perspective: Cultural Transactions and the Development of Traditions"</h3>
			<p>
				Shuishan Yu (Northeastern University)<br />
				Hyungmin Pai (The University of Seoul)<br />
				Sean H. McPherson (Bridgewater State University)
			</p>
			<h3>"Technologies of Movement and Communication: Part One"</h3>
			<p>
				Peter Christensen (University of Rochester)<br />
				Itohan Osayimwese (Brown University)<br />
				Mrinalini Rajagopalan (University of Pittsburgh)<br />
				Shundana Yusaf (University of Utah)
			</p>
			<h2>Winter 2015 Grant Recipients</h2>
			<h3>"Contested Spaces, Module I: Kitchen and Closet"</h3>
			<p>
				Ana María León (University of Michigan)<br />
				Martina Tanga (Umass Boston)<br />
				Tessa Paneth-Pollak (Michigan State University)<br />
				Olga Touloumi (Bard College)
			</p>
			<h2>Spring 2015 Grant Recipients</h2>
			<h3>"Histories of Heritage"</h3>
			<p>
				Peter Probst (Tufts University)<br />
				Michelle Apotsos (Williams College)<br />
				Brinker Ferguson (University of California)
			</p>
			<h3>"Global History of Rock-cut or <em>Chthonic</em> Architecture"</h3>
			<p>
				Tyler S. Sprague (University of Washington)<br />
				Vikramaditya Prakash (University of Washington)
			</p>
			<h3>"Erasing the East – West Divide"</h3>
			<p>
				Jeannette Marchand (Wright State University)<br />
				Suzanne Marchand (Louisiana State University)<br />
				Nasser Rabbat (Massachusetts Institute of Technology)<br />
				Christina Maranci (Tufts University)<br />
				Carla Keyvanian (Auburn University)<br />
				Il Kim (Auburn University)
			</p>
			<h3>"Technologies of Movement and Communication: Part Two"</h3>
			<p>
				Peter Christensen(University of Rochester)<br />
				Itohan Osayimwese (Brown University)<br />
				Mrinalini Rajagopalan (University of Pittsburgh)<br />
				Shundana Yusaf (University of Utah)
			</p>

		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
