{% extends 'website/base.html' %}
{% load staticfiles %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block body_block %}
<!-- Page Content -->
<ul id="background" class="fadein">
	<li></li>
</ul>

<div class="container fadein whitetext">
	<div class="row">
		<div class="col-md-8 col-md-offset-1 searchbar">
			<h1 class="greybackground">Search for Course Materials</h1>
			<form class="form-horizontal" method="post" action="/search/">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-xs-11">
						<input type="text" class="form-control" name="keyword" placeholder="by keyword, geography, year, ect." />
					</div>
					<div class="col-xs-1">
						<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
	<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>

{% endblock %}
