<h4>Terms and Conditions</h4>
<p>Please review and agree to the following terms and conditions to proceed to your download:</p>
<form>
  <div class="checkbox">
    <label>
      <input id="terms" type="checkbox"> Your downloading of GAHTC materials indicates your acceptance of the <a href="#">Terms & Conditions of Use</a>. <strong>This material was made for the sole purpose of being used in classroom environments. It may not be published or distributed in other contexts in any way or form including electronic.</strong>
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input id="contactLecture" type="checkbox" data-lectureid="{{ lectureid }}"> Would you like to be contacted by GAHTC about your use of these materials?
    </label>
  </div>
</form>
<div id="downloadHidden" class="hidden">
	<hr />
	<h4>Click the link below to download this lecture!</h4>
	<p><a href="/media{{ folder }}{{ filename }}">{{ filename }}</a> ({{ filesize|filesizeformat }})</p>
</div>