<h4>Terms and Conditions</h4>
<p>Please review and agree to the following terms and conditions to proceed to your download:</p>
<form>
  <div class="checkbox">
    <label>
      <input id="terms" type="checkbox"> I understand that this material is to be used only in class room settings. You are free to make changes to fit your constraints or teaching goals. However, this material cannot be used directly or indirectly, in whole or in part, for publication, in any form.</strong>
    </label>
  </div>
  <br />
  <div class="checkbox">
    <label>
      <input id="contactLecture" type="checkbox" data-lectureid="{{ lectureid }}"> Would you like to be contacted by GAHTC about your use of these materials?
    </label>
  </div>
</form>
<div id="downloadHidden" class="hidden">
	<hr />
	<h4>Click the link below to download this lecture!</h4>
	<p><a href="/media{{ folder }}{{ filename }}">{{ filename }}</a> ({{ filesize|filesizeformat }})</p>
</div>