{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}Lectures{% endblock %} {% block css_block %} {% endblock %} {% block head_js_block %} {% endblock %} {% block content %}
<!-- Page Content -->
<div class="jump-to-module-menu">
    <section>
        <h3>Jump To Module</h3>
        <div class="lectures-titles">
            {% for module_returned in modules_returned %}
            <a href="#{{module_returned.id}}">{{ module_returned.title }}</a> {% endfor %}
        </div>
    </section>
</div>
<div class="module-lecture-container">
    {% for module_returned in modules_returned %}
    <div class="module" id="{{module_returned.id}}">
        <h2 class="module-title">{{ module_returned.title }} </h2>
        <!-- <span>{{module_returned.moduleLecs.length}}</span> -->
        <div class="module-lectures-container">
            {% for lecture_returned in module_returned.moduleLecs %}
            <div class="lecture">
                <div class="lecture-first-slide-container">
                    <div class="lecture-first-slide" style="background: url('/media/{{lecture_returned.getSlideOne}}')">
                        {% if user.is_authenticated %}
                        <button type="button" class="preview-slides launchModal" data-lectureid="{{ lecture_returned.id }}">preview slides</button>
                        {% endif %}
                    </div>
                </div>
                <div class="module-text lecture-description">
                    <h4 class="title">{{lecture_returned.title}}</h4>
                    <p class="description">{{lecture_returned.description}}</p>
                    <p class='created-by'>created by:</p>
                    <footer>
                        <div class="authors-docs">
                            <div class="authors">
                                <p>{% for authors in lecture_returned.authors_m2m.all %}
                                    <a href="/members/#{{ authors.id }}">{{ authors.first_name }} {{ authors.last_name }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}
                                </p>
                            </div>
                            <div class="docs">
                                <p>supporting documents:</p>
                            </div>
                        </div>
                        <div class="download-module">
                            {% if user.is_authenticated %} {% if request.user.userProfile.verified %}
                            <button type="button" class="button" data-moduleid="{{ lecture_returned.id }}">Download Lecture</button>
                            {% else %}
                            <button type="button" class="button" data-toggle="modal" data-target="#waitingForVerification">Download Lecture</button>
                            {% endif %}
                            <div class="dropdown">
                                <button class="btn btn-danger gahtcRed pull-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lecture_{{ lecture_returned.id }}">
                                    {% include "website/bundle_dropdown.html" %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<!-- <div class="container">
    {% for module_returned in modules_returned %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ module_returned.title }}</h1>
        </div>
    </div>
    <div class="row marginBottom15">
        <div class="panel-group" id="accordion_lectures" role="tablist" aria-multiselectable="true">
            {% for lecture_returned in module_returned.moduleLecs %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_{{ lecture_returned.id }}">
                    <a class="noTextDecoration" role="button" data-toggle="collapse" data-parent="#accordion_lectures" href="#{{ lecture_returned.id }}" aria-expanded="true" aria-controls="{{ lecture_returned.id }}">
                        <h4 class="panel-title">
                <span class="label label-success">{{ lecture_returned.title }}</span>
              </h4>
                    </a>
                </div>
                <div id="{{ lecture_returned.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ lecture_returned.id }}">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><span class="label label-primary">From the module:</span> {{ lecture_returned.module.title }}</h4>
                                <p><strong>Authors:</strong> {% for authors in lecture_returned.authors_m2m.all %}
                                    <a href="/members/#{{ authors.id }}">{{ authors.first_name }} {{ authors.last_name }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}
                                    <br />
                                    <strong>Description: </strong> {{ lecture_returned.description }}</p>
                            </div>
                            <div class="col-md-3">
                                {% if user.is_authenticated %} {% if request.user.userProfile.verified %}
                                <button type="button" class="btn btn-default downloadLecture pull-right" data-lectureid="{{ lecture_returned.id }}">Download this lecture &amp; documents</button>
                                {% else %}
                                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#waitingForVerification">Download this lecture &amp; documents</button>
                                {% endif %} {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if lecture_returned.lectureDocs|length > 0 %}
                                <h5><span class="label label-info">Documents for this lecture:</span></h5>
                                <ul>
                                    {% for lecDoc in lecture_returned.lectureDocs %}
                                    <li>{{ lecDoc.title }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %} {% if user.is_authenticated %}
                                <button type="button" class="btn btn-default btn-xs launchModal" data-lectureid="{{ lecture_returned.id }}">Preview lecture</button>
                                {% if request.user.userProfile.verified %}
                                <button type="button" class="btn btn-default btn-xs downloadLecture" data-lectureid="{{ lecture_returned.id }}">Download this lecture &amp; documents</button>
                                {% else %}
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#waitingForVerification">Download this lecture &amp; documents</button>
                                {% endif %} {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
 -->
{% endblock %} {% block modal_block %}
<!-- Awaiting verification modal -->
<div class="modal fade" id="waitingForVerification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your account is awaiting verification.</h4>
            </div>
            <div class="modal-body">
                <p>Your account has not yet been verified by a GAHTC administrator. Once your account is verified, you will be able to download course materials. You will be notified by email when your account has been verified. In the meantime, you can continue to search the site and add resources to your bundles. Thank you!</p>
            </div>
        </div>
    </div>
</div>
<!-- Lecture Slides Modal -->
<div class="modal fade" id="slideshow" tabindex="-1" role="dialog" aria-labelledby="mySlideshow">
</div>
{% endblock %} {% block js_block %}
<script type="text/javascript">
var tab = "none";

</script>
<script type="text/javascript" src="{% static 'website/js/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>
{% endblock %}
