{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Bi-Annual Members' Conference</h1>
			<p>
				Phase 2 of the GAHTC will include two members' conferences, the first in fall 2017, and the second in fall 2019. The Members' Conference is a forum for content presentations, teacher to teacher workshops on pedagogical techniques, as well as opportunity to collectively discuss GAHTC goals, progress, and imperatives.
			</p>
			<p>
				The GAHTC will fund travel, lodging, and meals for all members attending the conference.
			</p>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
