{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>MEMBERS' CONFERENCE – LOS ANGELES<br />
				University of Southern California, School of Architecture
				September 29-30, 2017
			</h1>
			<p>
				The GAHTC will host the 2017 Members' Conference at the University of Southern California in Los Angeles, September 29th and 30th. The Members' Conference is a forum for content presentations, teacher to teacher workshops on pedagogical techniques, as well as opportunity to collectively discuss GAHTC goals, progress, and imperatives.
			</p>
			<p>
				The GAHTC will fund lodging, and meals for all members attending the conference, and can offer some funding toward travel expenses for its members.
			</p>
			<p>
				To RSVP for the conference, please fill this <a href="https://docs.google.com/forms/d/e/1FAIpQLSd-380c_Jx5ymJiOLTZ92CR4vdj0es2A37q4JlfSRdOgwl2_w/viewform?usp=sf_link">form</a>.
			</p>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
