{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}Modules{% endblock %} {% block css_block %} {%endblock%}
{% block head_js_block %} {% endblock %} {% block content %}
<!-- Page Content -->
<p class="featured-modules-title">featured modules</p>
<div class="featured-modules-container">
     <div class='arrows-container'>
        <div><img src='{% static 'website/css/images/left_arrow.png' %}' class='scrollLeft'></div>
        <div><img src='{% static 'website/css/images/right_arrow.png' %}' class='scrollRight'></div>
    </div>
    <div class="featured-modules">
        {% for module_returned in modules_returned %} {% if module_returned.featured > 0 %}
        <div class="module">
            <a href="#heading_{{ module_returned.id }}">
                <div class="image-container" style="background: url('/media/{{module_returned.cover_image}}')">
                </div>
            </a>
            <div class="title-container">
                <h4><a href="#heading_{{ module_returned.id }}">{{ module_returned.title }}</a></h4>
            </div>
        </div>
        {% endif%} {% endfor %}

    </div>
</div>
<p class="all-modules-title">all modules</p>
<div class="all-modules">
    <div class="marginBottom15">
        <div class="panel-group" id='accordion_modules' role='tablist' aria-multiselectable='true'>
            {%for module_returned in modules_returned%}
            <div class="panel panel-default" id="heading_{{ module_returned.id }}">
                <div class="module-title">
                    <h3>{{ module_returned.title }}</h3>
                    <button class='launchModuleDescription' data-moduleid="{{ module_returned.id }}">i</button>
                </div>
                <main class='panel-main'>
                    <div class="row">
                        <img src="/media/{{module_returned.cover_image}}" alt="" class="img-responsive col-md-4">
                        <section class="col-md-8">
                            <p>{{ module_returned.description }}
                            {%if module_returned.description|length > 400 %}
                                <p>...
                                    <button class='launchModuleDescription readMore' data-moduleid="{{ module_returned.id }}">Read More</button>
                                </p>
                            {%endif%}
                            </p>
                            <div class="panel-section-footer">
                                <div class="row">
                                    <div class="author-docs col-md-7">
                                        <span class="created-by">created by:</span>
                                        <p>
                                            {% for authors in module_returned.authors_m2m.all %}
                                            <a href="/members/#heading_{{ authors.id }}">{{ authors.first_name }} {{ authors.last_name }}</a>                                            {% if not forloop.last %}, {% endif %} {% endfor %}
                                        </p>
                                    </div>
                                    <div class="buttons col-md-5 paddingRight0">
                                        {% if user.is_authenticated %} {% if request.user.userProfile.verified %}
                                        <a class="btn btn-danger gahtcRed pull-right downloadModule" role='button' data-moduleid="{{ module_returned.id }}">Download Module</a>                                        {% else %}
                                        <a class="btn btn-danger gahtcRed pull-right" role='button' data-toggle="modal" data-target="#waitingForVerification">Download Module</a>                                        {% endif %}
                                        <div class="dropdown">
                                            <button class="btn btn-danger gahtcRed pull-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="module_{{ module_returned.id }}">
                                                {% include "website/bundle_dropdown.html" %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </main>
                <div id="{{ module_returned.id }}" class="panel-collapse collapse panel-expand module-expand" role="tabpanel" aria-labelledby="{{ module_returned.id }}">
                    {% if module_returned.moduleLecs|length > 0 %} {% for lec in module_returned.moduleLecs %}
                    <div class="panel-expand-item">
                        <div class="row">
                            <div class="col-md-3">
                                <a class="launchModal btn btn-default btn-img-hover-interaction" data-lectureid="{{ lec.id }}">
                                    <img src="/media/{{lec.getSlideOne}}" alt="" class="img-responsive">
                                    <h4 class="button-text-ribbon">preview slides</h4>
                                </a>
                            </div>
                            <section class="col-md-9">
                                <div class="title-buttons-group row">
                                    <h4 class="col-md-8 paddingLeft0">{{lec.title}}</h4>
                                    <div class="buttons col-md-4 paddingRight0">
                                        <a class='btn pull-right see-details' href="/lectures/#heading_{{lec.id}}">see details</a>                                        {% if user.is_authenticated %}
                                        <div class="dropdown">
                                            <button class="btn btn-danger gahtcRed pull-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="module_{{ module_returned.id }}">
                                                {% include "website/bundle_dropdown.html" %}
                                            </ul>
                                        </div>
                                        {% if request.user.userProfile.verified %}
                                        <button type="button" class="btn btn-danger gahtcRed downloadLecture pull-right" data-lectureid="{{ lec.id }}">
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        </button> {% else %}
                                        <button type="button" class="btn btn-danger gahtcRed pull-right" data-toggle="modal" data-target="#waitingForVerification">
                                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                        </button> {% endif %} {% endif %}
                                    </div>
                                </div>
                                <p class='lecture-description-text'>{{lec.description}}</p>
                                <p class="supporting-documents">supporting documments: {%for doc in lec.lectureDocs %}
                                    <span class="supporting-document-type">
                                    {% if doc.doc_type %}
                                        &bull; {{ doc.doc_type }}
                                    {% else %}
                                        &bull; Document
                                    {% endif %}
                                    </span> {% endfor %}
                                </p>
                            </section>
                        </div>
                    </div>
                    {% endfor %} {% endif %}
                    <div class="panel-expand-container marginTop10">
                        {% if module_returned.related_modules %}
                        <h4>related modules: </h4>
                        <div class="featured-modules-container">
                                <div class='arrows-container'>
                                   <div><img src='{% static 'website/css/images/left_arrow.png' %}' class='scrollLeft'></div>
                                   <div><img src='{% static 'website/css/images/right_arrow.png' %}' class='scrollRight'></div>
                               </div>
                               <div class="featured-modules">
                                   {% for r_module_returned in module_returned.related_modules %}
                                   <div class="module">
                                       <a href="#heading_{{ r_module_returned.id }}">
                                           <div class="image-container" style="background: url('/media/{{r_module_returned.cover_image}}')">
                                           </div>
                                       </a>
                                       <div class="title-container">
                                           <h4><a href="#heading_{{ r_module_returned.id }}">{{ r_module_returned.title }}</a></h4>
                                       </div>
                                   </div>
                                   {% endfor %}                           
                               </div>
                           </div>                        
                        {% endif %}
                    </div>
                    <div class="panel-expand-container marginTop10">
                        {% if module_returned.comments %}
                            <h4>members comments: </h4>
                            {% for comment in module_returned.comments %}
                                <p>"{{ comment.comment }}"
                                <br />
                                by: <a href="/members/#heading_{{ user.id }}">{{ comment.commenter_profile.first_name }} {{ comment.commenter_profile.last_name }}</a> on {{ comment.created|date:"F j, Y" }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p class="panel-expand-container terms-conditions">
                        <strong>Instructions</strong>
                        <br /> You can download individual files by selecting them from the list. Or download the entire module by clicking the 'Download Module' button above. Please read the terms and conditions before downloading any content. By downloading content from GAHTC.org you hereby agree to our terms and conditions.
                        <br />
                        <br />
                        <strong>Terms and conditions</strong>
                        <br /> I understand that this material is to be used only in classroom settings. You are free to make changes to fit your constraints or teaching goals. However, this material cannot be used directly or indirectly, in whole or in part, for publication, in any form.
                    </p>
                </div>
                <footer>
                    <a href="#{{ module_returned.id }}" data-parent="#accordion_modules" data-toggle="collapse" role="button" aria-expanded="true"
                        aria-controls="{{ module_returned.id }}" class='showMore'>SHOW MORE</a>
                </footer>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Back to top button -->
<button class="scrollToTop" data-toggle='tooltip' data-placement='right' title='Scroll back to top'>
    <span class="glyphicon glyphicon-arrow-up"></span>
</button> 
<!-- Add bundle alert -->
<div class="alert alert-success bundle-add-alert" role="alert">
    <p>This content has been added to your bundle, <span id="bundle-title"></span>. <a href="{% url 'mybundles' %}">View your bundles</a>.</p>
</div>
{% endblock %} 

{% block modal_block %}
<!-- Download Course Bundle Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Download Course Materials</h4>
            </div>
            <div class="modal-body">
                <div id="downloadFileArea">
                    <div class="containter">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-responsive pull-right" src="{% static 'website/css/images/spiffygif_114x114.gif' %}" />
                            </div>
                            <div class="col-md-9">
                                <h2>Zipping Up Your Materials!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Awaiting verification modal -->
<div class="modal fade" id="waitingForVerification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your account is awaiting verification.</h4>
            </div>
            <div class="modal-body">
                <p>Your account has not yet been verified by a GAHTC administrator. Once your account is verified, you will
                    be able to download course materials. You will be notified by email when your account has been verified.
                    In the meantime, you can continue to search the site and add resources to your bundles. Thank you!</p>
            </div>
        </div>
    </div>
</div>
<!-- Lecture Slides Modal -->
<div class="modal fade" id="moduleFullDescription" tabindex="-1" role="dialog" aria-labelledby="moduleFullDescription">
</div>
<div class="modal fade" id="slideshow" tabindex="-1" role="dialog" aria-labelledby="mySlideshow">
</div>
<!-- Create New Bundle Modal -->
<div class="modal fade" id="newBundleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Bundle</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newBundleName" placeholder="Name your bundle here.">
                    </div>
                    <div id="noBundleTitleAlert" class="alert alert-warning hidden" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                        Please add a title!
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createNewBundle">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js_block %}
<script type="text/javascript">
    var tab = "none";

</script>
<script type="text/javascript" src="{% static 'website/js/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>
{% endblock %}
