{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}Modules{% endblock %} {% block css_block %} {%endblock%}
{% block head_js_block %} {% endblock %} {% block content %}

<div class="members-view">
	<div class="cover-photo img-responsive" style='background: url("{% static 'website/css/images/qizil_caves.png' %}")'></div>
	<main>
		<h1>Current Members</h1>
		<p>
			The GAHTC is managed by a project manager and a core team of board members. Together they endeavor to extend the reach of architectural survey with the aim of enhancing the global knowledge of architectural history. 
		</p>
		<p>
			The GAHTC was co-founded by board members Mark Jarzombek (MIT) and Vikram Prakash (University of Washington) who continue to be heavily involved in advancing the collaborative's Mission, and in extending its global pedagogical reaches. Project Manager Eliana Hamdi Murchie and Designer Andre Malan are responsible for the everyday operation of the collaborative. 
		</p>
		<p>
			In addition, the GAHTC is supported by a team of board members; Robert Cowherd (Wentworth Institute), Carla Keyvanian (Auburn University), Gail Fenske (Roger Williams University), Suzanne Marchand (Louisiana State University), and Adnan Morshed (The Catholic University of America).
		</p>
		<div class="alphabeticalFilterList">
			<div class='letter'>
				<a href="#A">A</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#B">B</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#C">C</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#D">D</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#E">E</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#F">F</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#G">G</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#H">H</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#I">I</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#J">J</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#K">K</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#L">L</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#M">M</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#N">N</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#O">O</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#P">P</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#Q">Q</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#R">R</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#S">S</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#T">T</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#U">U</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#V">V</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#W">W</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#X">X</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#Y">Y</a>
			</div>
			<div class='letter'>
				<div class="circle"></div>
				<a href="#Z">Z</a>
			</div>
		</div>

		<div class="searchForMembers marginBottom100">
			<input id="memberNameLookup" type="text" placeholder='Search for members...' name='name'>
			<button>
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</div>

		<div class="profiles_returned marginBottom100">
			{% include 'website/profiles_returned.html' %}
		</div>
	</main>
</div>

<button class="scrollToTop" data-toggle='tooltip' data-placement='right' title='Scroll back to top'>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button> {% endblock %} {% block modal_block %}
<div class="modal fade" id="memberFullIntroduction" tabindex="-1" role="dialog" aria-labelledby="memberFullIntroduction">
</div>
{% endblock %} {% block js_block %}
<script type="text/javascript" src="{% static 'website/js/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>
{% endblock %}
