{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Modules{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Members</h1>
		</div>
	</div>
	{% for user_profile in profiles_returned %}
	<div class="row marginBottom15 marginTop30">
		<div class="col-md-3">
			{% if user_profile.pic %}
				<img class="img-responsive" src="/media/{{ user_profile.pic }}" />
			{% else %}
				<img class="img-responsive" src="{% static 'website/css/images/icon-profile.png' %}" />
			{% endif %}
		</div>	
		<div class="col-md-8 col-md-offset-1">
			<div class="row">
				<p><strong>Name:</strong> {{ user_profile.name }}</p>
				<p><strong>Email:</strong> {{ user.email }} </p>
				<p><strong>Institutional Affiliation:</strong> {{ user_profile.institution }}</p>
				<p><strong>Introduction:</strong> {{ user_profile.introduction }}</p>
			</div>
		</div>								
	</div>
	<hr />
	{% endfor %}
</div>
{% endblock %}

{% block js_block %}
{% endblock %}	
			
