{% load staticfiles %}
	<div class="row marginTop30">
		<div class="col-md-12">
			<h2>{{ user_profile.first_name }} {{ user_profile.last_name }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{% if user_profile.avatar %}
				<img class="img-responsive" src="/media/{{ user_profile.avatar }}" />
			{% else %}
				<img class="img-responsive" src="{% static 'website/css/images/gahtc-logo.png' %}" />
			{% endif %}
		</div>
		<div class="col-md-7 col-md-offset-1">
			<div class="row">
				<p>{{ user_profile.introduction }}</p>
				<p>
					{{ user_profile.title }} <br>
					{{ user_profile.institution }} <br>
					<em>{{ user.email }}</em>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-danger gahtcRed btn-block" href="{% url 'updateProfile' %}" role="button">Edit Profile</a>
		</div>
	</div>
	{% if user_profile.modules or user_profile.csmodules or user_profile.lectures %}
	<div class="row marginTop30">
		<div class="col-md-12 authored-contributions">
			<h4>Authored Contributions:</h4>
			<p>
				{% if user_profile.modules %}
					Modules:
					<br />
					{% for m in user_profile.modules %}
					<a href="/browse/#heading_{{ m.id }}">{{ m.title }}</a><br />
					{% endfor %}
				{% endif %}
			</p>
			<p>
				{% if user_profile.csmodules %}
					Modules Coming Soon:
					<br />
					{% for m in user_profile.csmodules %}
					<a href="/browse/#heading_cs{{ m.id }}">{{ m.title }}</a><br />
					{% endfor %}
				{% endif %}
			</p>
			<p>
				{% if user_profile.lectures %}
					Lectures:
					<br />
					{% for l in user_profile.lectures %}
					<a href="/lecture/{{ l.id }}/">{{ l.title }}</a><br />
					{% endfor %}
				{% endif %}
			</p>
		</div>
	</div>

	{% endif %}

