{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Workshop{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Conference 2016, travel reimbursement details</h1>
			<p>
				GAHTC will cover the costs of an Economy flight, train or bus ticket. Our goal is to ensure that as many members as possible can attend the conference. Funding, however is finite, so we rely on each member to find and choose the affordable form of transport available to them. Please do not use this as a GAHTC subsidized vacation.
			</p>
			<p>
				Making sure that all members are reimbursed for their travel expenses is important. We are working to make the process as streamlined as possible. In order to process reimbursements you will need to provide a receipt for expenses incurred. For flights it is crucial that the receipt clearly displays the EEK data (the class category, ‘economy’ or ‘business’ for example). For receipts that don’t provide the origin and destination of your trip, please include that information in your email. Reimbursements be paper as checks. Those traveling on a visa must be on a business class visa, not a tourist visa, in order to be reimbursed.
			</p>
			<p>
				GAHTC can only confirm attendance and travel plans after the RSVP period is over. RSVP runs from June 1st – June 31st. The window for booking travel tickets is anytime in July and August. You are welcome to submit receipts for reimbursement as soon as you have completed your booking. This way we can begin the receipt collection process as soon as possible and you won’t have to dig through your email inbox to search for the receipt months after the event. Reimbursement can only occur after the trip is competed.
			</p>
			<h4>
				Reimbursements Checklist
			</h4>
			<ul>
				<li>Name</li>
				<li>Postal address</li>
				<li>Amount to be reimbursed (shown on a receipt)</li>
				<li>EEK data for flights</li>
				<li>Trip origin & destination; Start & end dates</li>
			</ul>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
