{% extends 'website/base.html' %} 
{% load staticfiles %} 

{% block title %}My Saved Searches{% endblock %} 

{% block css_block %} 
{% endblock %} 

{% block head_js_block %} 
{% endblock %} 

{% block content %}
<!-- Page Content -->
<div class="container search-body">
    <div class="row">
        <div class="col-md-12">
            <h2 class="marginBottom15">My Saved Searches</h2>
        </div>
    </div>
    <div class="row savedSearchList">
    	{% include 'website/current_saved_searches.html' %}
	</div>
	<div class="row marginBottom100">
    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>
{% endblock %}


