{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Workshop{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Conference 2016, Draft Schedule</h1>
			<h3><u>Friday, October 7</u></h3>
			<p>
				12 noon Lunch<br />
				1pm – 3pm “What does the Global Mean?”<br />
				<strong>3pm – 5pm Team Presentations (2 rooms)</strong><br />
				5pm – 7pm Working Dinner, GAHTC and its Future<br />
			</p>
			<h3><u>Saturday, October 8</u></h3>
			<p>
				8am Breakfast<br />
				<strong>9am – 12:00pm Team Presentations (2 rooms)</strong><br />
				12:00 – 1:30pm Website Presentation/ Lunch Time<br />
				<strong>2:00pm – 4:00pm Team Presentations (2 rooms)</strong><br />
				4:00pm – 5:00pm Leadership Session with Board and Grant Team Heads<br />
				5:00pm – 7:00pm Working Dinner, Announce Funding Future<br />
			</p>
			<h3><u>Sunday, October 9</u></h3>
			<p>
				9:00am – 12:00 GAHTC Board Meeting
			</p>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
