{% extends 'website/base.html' %} {% load staticfiles %} {% block title %}Search Results{% endblock %} {% block css_block %} {% endblock %} {% block head_js_block %} {% endblock %} {% block content %}
<!-- Page Content -->
<div class="container search-body">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-2">
                        <h4 class="searchText">Search</h4>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" name="keyword" placeholder="Results for: {{ keyword }}" />
                    </div>
                    <div class="col-xs-1">
                        <button type="submit" class="btn btn-default pull-right" title="Search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                    <div class="col-xs-1">
                        <button id="saveSearchString" class="btn btn-default pull-right" title="Save This Search"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-default pull-right switchToBundle">
                Download Course Bundles
            </button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
        <div id="searchSaved" class="alert alert-success hidden" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Search saved!
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#search-results" aria-controls="search" role="tab" data-toggle="tab">Search Results</a></li>
                {% if user.is_authenticated %}
                <li role="presentation"><a href="#my-course-bundles" aria-controls="bundles" role="tab" data-toggle="tab">My Course Bundles</a></li>
                <li role="presentation"><a href="#my-saved-searches" aria-controls="savedsearches" role="tab" data-toggle="tab">My Saved Searches</a></li>
                <li role="presentation"><a href="#my-profile" aria-controls="profile" role="tab" data-toggle="tab">My Profile</a></li>
                {% endif %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="search-results">
                    <div class="col-md-6 resultsScroll">
                        {% if modules_returned_count == 0 and lectures_returned_count == 0 and lecture_segments_returned_count == 0 and lecture_documents_returned_count == 0 and lecture_slides_returned_count == 0 and coming_soon_modules_returned_count == 0 %}
                        <div class="row selectedAddDropdown">
                            <div class="col-xs-12">
                                <p class="text-center marginTop10">
                                    Your search for <strong>{{ keyword }}</strong> yielded <strong>no</strong> results.
                                    {% if spelling_suggestion and spelling_suggestion != keyword %}
                                        <br />Did you mean <a href="/search/?keyword={{ spelling_suggestion }}">{{ spelling_suggestion }}</a>?
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% else %}
                        <p class="text-center marginTop10">
                            Your search for <strong>{{ keyword }}</strong> yielded <strong>{{ all_results_count }}</strong> result{%if all_results_count > 1 %}s{% endif %}.
                            {% if spelling_suggestion and spelling_suggestion != keyword %}
                                <br />Did you mean <a href="/search/?keyword={{ spelling_suggestion }}">{{ spelling_suggestion }}</a>?
                            {% endif %}
                        </p>
                        <div class="panel-group" id="accordion_results" role="tablist" aria-multiselectable="true">
                            {% if modules_returned_count > 0 or coming_soon_modules_returned_count > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading_modules_panel">
                                    <a class="noTextDecoration" role="button" data-toggle="collapse" data-parent="#accordion_results" href="#modules_panel" aria-expanded="true" aria-controls="modules_panel">
                                        <h4 class="panel-title">
							          <span class="label label-primary">{{ modules_returned_count }} Module{{ modules_returned_count|pluralize }}</span>
							          {% if coming_soon_modules_returned_count > 0 %}
										<span class="label label-cs">{{ coming_soon_modules_returned_count }} Module{{ coming_soon_modules_returned_count|pluralize }} Coming Soon</span>
							          {% endif %}
							      </h4>
                                    </a>
                                </div>
                                <div id="modules_panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="modules_panel">
                                    <div class="panel-body">
                                        {% for module in modules_returned %}
                                        <div class="row result module" data-moduleid="{{ module.id }}">
                                            <div class="col-xs-3">
                                                <img class="img-responsive" src="{% static 'website/css/images/gahtc-logo.png' %}" />
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-7 resultTitle">
                                                        <p><strong><span class="label label-primary">Module:</span> {{ module.title }}</strong></p>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        {% if user.is_authenticated %}
                                                        <div class="dropdown pull-right">
                                                            <button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Add to Bundle
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="module_{{ module.id }}">
                                                                {% include "website/bundle_dropdown.html" %}
                                                            </ul>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>
                                                        {% for keyword in module.keywords.all %}
                                                        <a href="/search/?keyword={{ keyword.name }}">
                                                            <span class="label label-default">{{ keyword.name }}</span>
                                                        </a>
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %} {% for m in coming_soon_modules_returned %}
                                        <div class="row result">
                                            <div class="col-xs-3">
                                                <img class="img-responsive" src="{% static 'website/css/images/gahtc-logo.png' %}" />
                                            </div>
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-7 resultTitle">
                                                        <p><strong><span class="label label-cs">Module Coming Soon:</span> {{ m.object.title }}</strong></p>
                                                    </div>
                                                    <div class="col-xs-5">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p>
                                                        {% for keyword in m.object.keywords.all %}
                                                        <a href="/search/?keyword={{ keyword.name }}">
                                                            <span class="label label-default">{{ keyword.name }}</span>
                                                        </a>
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %} {% if lectures_returned_count > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading_lecture_panel">
                                    <a class="noTextDecoration collapsed" role="button" data-toggle="collapse" data-parent="#accordion_results" href="#lecture_panel" aria-expanded="false" aria-controls="lecture_panel">
                                        <h4 class="panel-title">
						        	<span class="label label-success">{{ lectures_returned_count }} Lecture{{ lectures_returned_count|pluralize }}</span>
						        </h4>
                                    </a>
                                </div>
                                <div id="lecture_panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lecture_panel">
                                    <div class="panel-body">
                                        {% for lecture in lectures_returned %}
                                        <div class="row result lecture" data-lectureid="{{ lecture.object.id }}">
                                        	{% if user.is_authenticated %}
                                            <div class="col-xs-3">
                                                <img class="img-responsive" src="/media/{{ lecture.object.getSlideOne }}" />
                                            </div>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                            <div class="col-xs-9">
                                            	<div class="row">
                                            		<div class="col-xs-7 resultTitle">
                                            {% else %}
                                            <div class="col-xs-12">
                                            	<div>
                                            		<div class="col-xs-12 resultTitle">
                                            {% endif %}
                                                        <p><strong><span class="label label-success">Lecture:</span> {{ lecture.object.title }}</strong></p>
                                                    </div>
                                                    {% if user.is_authenticated %}
                                                    <div class="col-xs-5">
                                                        <div class="dropdown pull-right">
                                                            <button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Add to Bundle
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lecture_{{ lecture.object.id }}">
                                                                {% include "website/bundle_dropdown.html" %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p class="swapem">
                                                        {% for text in lecture.highlighted %} 
                                                            ... {% autoescape off %}{{ text }}{% endautoescape %} 
                                                            {% if forloop.last %} ... {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p><span class="label label-primary">From the module:</span> {{ lecture.object.module.title }}</p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p>
                                                        {% for keyword in lecture.object.keywords.all %}
                                                        <a href="/search/?keyword={{ keyword.name }}">
                                                            <span class="label label-default">{{ keyword.name }}</span>
                                                        </a>
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %} {% if lecture_segments_returned_count > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading_lecture_segments_panel">
                                    <a class="noTextDecoration collapsed" role="button" data-toggle="collapse" data-parent="#accordion_results" href="#lecture_segments_panel" aria-expanded="false" aria-controls="lecture_segments_panel">
                                        <h4 class="panel-title">
						          <span class="label label-ls">{{ lecture_segments_returned_count }} Lecture Segment{{ lecture_segments_returned_count|pluralize }}</span>
						        </h4>
                                    </a>
                                </div>
                                <div id="lecture_segments_panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lecture_segments_panel">
                                    <div class="panel-body">
                                        {% for lecture_segment in lecture_segments_returned %}
                                        <div class="row result lecture_segment" data-lecturesegmentid="{{ lecture_segment.object.id }}">
                                        	{% if user.is_authenticated %}
                                            <div class="col-xs-3">
                                                <img class="img-responsive" src="/media/{{ lecture_segment.object.getSlideOne }}" />
                                            </div>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-7 resultTitle">
											{% else %}
                                            <div class="col-xs-12">
                                                <div>
                                                    <div class="col-xs-12 resultTitle">
                                            {% endif %}
                                                        <p><strong><span class="label label-ls">Lecture Segment:</span> {{ lecture_segment.object.title }}</strong></p>
                                                    </div>
                                                    {% if user.is_authenticated %}
                                                    <div class="col-xs-5">
                                                        <div class="dropdown pull-right">
                                                            <button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Add to Bundle
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lecturesegment_{{ lecture_segment.object.id }}">
                                                                {% include "website/bundle_dropdown.html" %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p class="swapem">
                                                        {% for text in lecture_segment.highlighted %} 
                                                            ... {% autoescape off %}{{ text }}{% endautoescape %} 
                                                            {% if forloop.last %} ... {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p><span class="label label-success">From the lecture:</span> {{ lecture_segment.object.lecture.title }}</p>
                                                    <p><span class="label label-primary">From the module:</span> {{ lecture_segment.object.lecture.module.title }}</p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p>
                                                        {% for keyword in lecture_segment.object.keywords.all %}
                                                        <a href="/search/?keyword={{ keyword.name }}">
                                                            <span class="label label-default">{{ keyword.name }}</span>
                                                        </a>
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %} {% if lecture_documents_returned_count > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading_lecture_documents_panel">
                                    <a class="noTextDecoration collapsed" role="button" data-toggle="collapse" data-parent="#accordion_results" href="#lecture_documents_panel" aria-expanded="false" aria-controls="lecture_documents_panel">
                                        <h4 class="panel-title">
						          <span class="label label-info">{{ lecture_documents_returned_count }} Lecture Document{{ lecture_documents_returned_count|pluralize }}</span>
						        </h4>
                                    </a>
                                </div>
                                <div id="lecture_documents_panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lecture_documents_panel">
                                    <div class="panel-body">
                                        {% for lecture_document in lecture_documents_returned %}
                                        <div class="row result lecture_document" data-lecturedocumentid="{{ lecture_document.object.id }}">
                                        	{% if user.is_authenticated %}
                                            <div class="col-xs-3">
                                                <img class="img-responsive" src="{% static 'website/css/images/doc.png' %}" />
                                            </div>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-7 resultTitle">
											{% else %}
                                            <div class="col-xs-12">
                                                <div>
                                                    <div class="col-xs-12 resultTitle">
                                            {% endif %}
                                                        <p><strong><span class="label label-info">Lecture Document:</span> {{ lecture_document.object.title }}</strong></p>
                                                    </div>
                                                    {% if user.is_authenticated %}
                                                    <div class="col-xs-5">
                                                        <div class="dropdown pull-right">
                                                            <button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Add to Bundle
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lecturedocument_{{ lecture_document.object.id }}">
                                                                {% include "website/bundle_dropdown.html" %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p class="swapem">
                                                        {% for text in lecture_document.highlighted %} 
                                                            ... {% autoescape off %}{{ text }}{% endautoescape %} 
                                                            {% if forloop.last %} ... {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p><span class="label label-success">From the lecture:</span> {{ lecture_document.object.lecture.title }}</p>
                                                    <p><span class="label label-primary">From the module:</span> {{ lecture_document.object.lecture.module.title }}</p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p>
                                                        {% for keyword in lecture_document.object.keywords.all %}
                                                        <a href="/search/?keyword={{ keyword.name }}">
                                                            <span class="label label-default">{{ keyword.name }}</span>
                                                        </a>
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %} {% if lecture_slides_returned_count > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading_lecture_slides_panel">
                                    <a class="noTextDecoration collapsed" role="button" data-toggle="collapse" data-parent="#accordion_results" href="#lecture_slides_panel" aria-expanded="false" aria-controls="lecture_slides_panel">
                                        <h4 class="panel-title">
						          			<span class="label label-warning">{{ lecture_slides_returned_count }} Lecture Slide{{ lecture_slides_returned_count|pluralize }}</span>
						        		</h4>
                                    </a>
                                </div>
                                <div id="lecture_slides_panel" class="panel-collapse collapse" role="tabpanel" aria-labelledby="lecture_slides_panel">
                                    <div class="panel-body">
                                        {% for lecture_slide in lecture_slides_returned %}
                                        <div class="row result lecture_slide" data-lectureslideid="{{ lecture_slide.object.id }}">
                                   			{% if user.is_authenticated %}
                                            <div class="col-xs-3">
                                                <img class="img-responsive" src="/media/{{ lecture_slide.object.slide }}" />
                                            </div>
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-7 resultTitle">
											{% else %}
                                            <div class="col-xs-12">
                                                <div>
                                                    <div class="col-xs-12 resultTitle">
                                            {% endif %}
                                                        <p><strong><span class="label label-warning">SLIDE FROM:</span> {{ lecture_slide.object.lecture.title }}</strong></p>
                                                    </div>
                                                    {% if user.is_authenticated %}
                                                    <div class="col-xs-5">
                                                        <div class="dropdown pull-right">
                                                            <button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Add to Bundle
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lectureslide_{{ lecture_slide.object.id }}">
                                                                {% include "website/bundle_dropdown.html" %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
	                                            	<p class="swapem">
                                                        {% for text in lecture_slide.highlighted %} 
                                                            ... {% autoescape off %}{{ text }}{% endautoescape %} 
                                                            {% if forloop.last %} ... {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p><span class="label label-primary">From the module:</span> {{ lecture_slide.object.lecture.module.title }}</p>
                                                </div>
                                                {% if user.is_authenticated %}
                                                <div class="row">
                                                {% else %}
	                                            <div>
	                                            {% endif %}
                                                    <p>
                                                        {% for keyword in lecture_slide.object.keywords.all %}
                                                        <a href="/search/?keyword={{ keyword.name }}">
                                                            <span class="label label-default">{{ keyword.name }}</span>
                                                        </a>
                                                        {% endfor %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 rightSidebar searchSidebar"></div>
                </div>
                {% if user.is_authenticated %}
                <div role="tabpanel" class="tab-pane" id="my-course-bundles">
                    <div class="col-md-6 resultsScrollBundle">
                        {% include "website/bundle_list.html" %}
                    </div>
                    <div class="col-md-6 rightSidebar bundleSidebar"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="my-saved-searches">
                    <div class="col-md-12 savedSearchList">
                        {% include "website/saved_searches.html" %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="my-profile">
                    {% block profile_block %}{% endblock %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block modal_block %}
<!-- Download Course Bundle Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Download Course Bundles</h4>
            </div>
            <div class="modal-body">
                <div id="downloadFileArea">
                    <div class="containter">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-responsive pull-right" src="{% static 'website/css/images/spiffygif_114x114.gif' %}" />
                            </div>
                            <div class="col-md-9">
                                <h2>Zipping Up Your Bundle!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Create New Bundle Modal -->
<div class="modal fade" id="newBundleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Bundle</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newBundleName" placeholder="Name your bundle here.">
                    </div>
                    <div id="noBundleTitleAlert" class="alert alert-warning hidden" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Please add a title!
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createNewBundle">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Awaiting verification modal -->
<div class="modal fade" id="waitingForVerification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your account is awaiting verification.</h4>
            </div>
            <div class="modal-body">
                <p>Your account has not yet been verified by a GAHTC administrator. Once your account is verified, you will be able to download course materials. You will be notified by email when your account has been verified. In the meantime, you can continue to search the site and add resources to your bundles. Thank you!</p>
            </div>
        </div>
    </div>
</div>
<!-- Lecture Slides Modal -->
<div class="modal fade" id="slideshow" tabindex="-1" role="dialog" aria-labelledby="mySlideshow">
</div>
{% endblock %} {% block js_block %}
<script type="text/javascript">
//svar tab = "{{ tab }}";
var keyword = "{{ keyword }}";
</script>
<script type="text/javascript" src="{% static 'website/js/jquery.scrollTo.min.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>
{% endblock %}
