{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Search Results{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal" method="post" action=".">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-xs-2">
						<h4 class="searchText">Search</h4>
					</div>
					<div class="col-xs-8">
						<input type="text" class="form-control" name="keyword" placeholder="Results for: {{ keyword }}" />
					</div>
					<div class="col-xs-1">
						<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</div>
					<div class="col-xs-1">
						<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-default pull-right switchToBundle">
			  Download Course Bundles
			</button>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#search-results" aria-controls="search" role="tab" data-toggle="tab">Search Results</a></li>
				<li role="presentation"><a href="#my-course-bundles" aria-controls="bundles" role="tab" data-toggle="tab">My Course Bundles</a></li>
				<li role="presentation"><a href="#my-saved-searches" aria-controls="savedsearches" role="tab" data-toggle="tab">My Saved Searches</a></li>
				<li role="presentation"><a href="#my-profile" aria-controls="profile" role="tab" data-toggle="tab">My Profile</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				<div role="tabpanel" class="tab-pane active" id="search-results">
					<div class="col-md-6 resultsScroll">
						<div class="row selectedAddDropdown">
							<p>
								<span class="label label-primary">{{ modules_returned_count }}</span> Modules 
								<span class="label label-success">{{ lectures_returned_count }}</span> Lectures 
								<span class="label label-info">{{ lecture_documents_returned_count }}</span> Lecture Doucuments 
								<span class="label label-warning">{{ lecture_slides_returned_count }}</span> Lecture Slides 
							</p>
						</div>
						<div class="row selectedAddDropdown">
							<div class="col-xs-8">
								<div class="dropdown">
									<button id="selectedAdd" class="btn btn-default btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Add All Selected to Bundle
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu bundles" aria-labelledby="selectedAdd" data-itemid="allchecked">
										{% include "website/bundle_dropdown.html" %}
									</ul>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="checkbox pull-right">
								  <label>
								    <input type="checkbox" value="">
								    Select All/None
								  </label>
								</div>
							</div>
						</div>
						{% for module in modules_returned %}
						<div class="row result module" data-moduleid="{{ module.id }}">
							<div class="col-xs-3">
								<img class="img-responsive" src="http://placehold.it/100x100" />
							</div>							
							<div class="col-xs-9">
								<div class="row">
									<div class="col-xs-8 resultTitle">
										<p><strong>MODULE: {{ module.title }}</strong></p>
									</div>
									<div class="col-xs-4">
										<div class="checkbox">
										    <input type="checkbox" value="">
										</div>
										<div class="dropdown">
											<button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Add to Bundle
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="module_{{ module.id }}">
												{% include "website/bundle_dropdown.html" %}
											</ul>
										</div>										
									</div>								
								</div>
								<div class="row">
									<p><span class="label label-primary">{{ keyword }}</span> appears <span class="label label-primary">{{ module.count }}</span> time{{ module.count|pluralize }} in this module.</p>
								</div>
							</div>
						</div>
						{% endfor %}
						{% for lecture in lectures_returned %}
						<div class="row result lecture" data-lectureid="{{ lecture.id }}">
							<div class="col-xs-3">
								<img class="img-responsive" src="/media/{{ lecture.getSlideOne }}" />
							</div>							
							<div class="col-xs-9">
								<div class="row">
									<div class="col-xs-8 resultTitle">
										<p><strong>LECTURE: {{ lecture.title }}</strong></p>
									</div>
									<div class="col-xs-4">
										<div class="checkbox">
										    <input type="checkbox" value="">
										</div>
										<div class="dropdown">
											<button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Add to Bundle
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lecture_{{ lecture.id }}">
												{% include "website/bundle_dropdown.html" %}
											</ul>
										</div>										
									</div>								
								</div>
								<div class="row">
									<p><span class="label label-success">{{ keyword }}</span> appears <span class="label label-success">{{ lecture.count }}</span> time{{ lecture.count|pluralize }} in this lecture.</p>
								</div>
								<div class="row">
									<p>From the module: <em>{{ lecture.module.title }}</em></p>
								</div>
							</div>
						</div>
						{% endfor %}
						{% for lecture_document in lecture_documents_returned %}
						<div class="row result lecture_document" data-lecturedocumentid="{{ lecture_document.id }}">
							<div class="col-xs-3">
								<img class="img-responsive" src="http://placehold.it/100x100" />
							</div>							
							<div class="col-xs-9">
								<div class="row">
									<div class="col-xs-8 resultTitle">
										<p><strong>LECTURE DOCUMENT FROM: {{ lecture_document.lecture.title }}</strong></p>
									</div>
									<div class="col-xs-4">
										<div class="checkbox">
										    <input type="checkbox" value="">
										</div>
										<div class="dropdown">
											<button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Add to Bundle
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lecturedocument_{{ lecture_document.id }}">
												{% include "website/bundle_dropdown.html" %}
											</ul>
										</div>										
									</div>								
								</div>
								<div class="row">
									<p><span class="label label-info">{{ keyword }}</span> appears <span class="label label-info">{{ lecture_document.count }}</span> time{{ lecture_document.count|pluralize }} in this lecture document.</p>
								</div>
								<div class="row">
									<p>From the module: <em>{{ lecture_document.lecture.module.title }}</em></p>
								</div>
							</div>
						</div>
						{% endfor %}
						{% for lecture_slide in lecture_slides_returned %}
						<div class="row result lecture_slide" data-lectureslideid="{{ lecture_slide.id }}">
							<div class="col-xs-3">
								<img class="img-responsive" src="/media/{{ lecture_slide.slide }}" />
							</div>							
							<div class="col-xs-9">
								<div class="row">
									<div class="col-xs-8 resultTitle">
										<p><strong>SLIDE FROM: {{ lecture_slide.lecture.title }}</strong></p>
									</div>
									<div class="col-xs-4">
										<div class="checkbox">
										    <input type="checkbox" value="">
										</div>
										<div class="dropdown">
											<button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Add to Bundle
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right bundles" aria-labelledby="" data-itemid="lectureslide_{{ lecture_slide.id }}">
												{% include "website/bundle_dropdown.html" %}
											</ul>
										</div>										
									</div>								
								</div>
								<div class="row">
									<p><span class="label label-warning">{{ keyword }}</span> appears <span class="label label-warning">{{ lecture_slide.count }}</span> time{{ lecture_slide.count|pluralize }} in this lecture slide.</p>
								</div>
								<div class="row">
									<p>From the module: <em>{{ lecture_slide.lecture.module.title }}</em></p>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
					<div class="col-md-6 rightSidebar searchSidebar"></div>
					
				</div>

				<div role="tabpanel" class="tab-pane" id="my-course-bundles">

					<div class="col-md-6 resultsScrollBundle">
						{% include "website/bundle_list.html" %}
					</div>
					<div class="col-md-6 rightSidebar bundleSidebar"></div>

				</div>

				<div role="tabpanel" class="tab-pane" id="my-saved-searches">
					Saved Searches
				</div>

				<div role="tabpanel" class="tab-pane" id="my-profile">
					Profile
				</div>
			</div>			

		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
<!-- Download Course Bundle Modal -->
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download Course Bundles</h4>
      </div>
      <div class="modal-body">
        <div id="downloadFileArea">
        	<div class="containter">
        		<div class="row">
        			<div class="col-md-3">
        				<img class="img-responsive pull-right" src="{% static 'website/css/images/spiffygif_114x114.gif' %}" />
        			</div>
        			<div class="col-md-9">
        				<h2>Zipping Up Your Bundle!</h2>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create New Bundle Modal -->
<div class="modal fade" id="newBundleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Bundle</h4>
      </div>
      <div class="modal-body">
		<form>
		  <div class="form-group">
		    <input type="text" class="form-control" id="newBundleName" placeholder="Name your bundle here.">
		  </div>
			<div id="noBundleTitleAlert" class="alert alert-warning hidden" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Please add a title!
			</div>
		</form>      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="createNewBundle">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
	<script type="text/javascript" src="{% static 'website/js/jquery.scrollTo.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'website/js/gahtcApplication.js' %}"></script>
	<script type="text/javascript" src="{% static 'website/js/application.js' %}"></script>
	<script type="text/javascript" src="{% static 'website/js/controllers.js' %}"></script>
{% endblock %}
