	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				<h4 class="modal-title" id="mySlideshow">{{ lecture_slide.lecture.title }} | Slide Preview</h4>
			</div>
			<div class="modal-body">
				<div class="clearfix"></div>
				<img class="img-responsive" src="/media/{{ lecture_slide.slide }}" />
			</div>
		</div>
	</div>			
