{% load staticfiles %}

	<!-- Count of items -->
	<div class="row">
		<div class="col-md-12">
			Your bundle contains {{ bundle_returned.bundle_modules.count }} module{{ bundle_returned.bundle_modules.count|pluralize }}, {{ bundle_returned.bundle_lectures.count }} lecture{{ bundle_returned.bundle_lectures.count|pluralize }}, {{ bundle_returned.bundle_lecture_documents.count }} supporting document{{ bundle_returned.bundle_lecture_documents.count|pluralize }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="details-title">details</p>
		</div>
	</div>
	{% if bundle_returned.bundle_modules %}
	<div class="row">
		<div class="col-md-12">
			<h4>Modules</h4>
		</div>
	</div>
	{% endif %}	
	{% for bundle in bundle_returned.bundle_modules %}
	<div class="row">
		<section class="col-md-12">
			<ul>
				<li>{{ bundle.module.title }} 
					<a href="#" class="remove-from-bundle remove-from-bundle-link" data-bundleid="{{ bundle.bundle.id }}" data-moduleid="{{ bundle.module.id }}" title="Remove from bundle">
						[remove]
					</a>
					<ul>
						<ul>
							{% for doc in bundle.module.moduleDocs %}
								<li>
									{% if doc.doc_type %}
										{{ doc.doc_type.name }}
                                    {% else %}
                                        Document
                                    {% endif %}
									<span class="doc-size">[{{ doc.document.size|filesizeformat }}]</span>
								</li>
							{% endfor %}
						</ul>
						{% for lec in bundle.module.lectures %}
						 	<li>
								{{ lec.title }} <span class="doc-size">[{{ lec.presentation.size|filesizeformat }}]</span>
								<ul>
									{% for doc in lec.lectureDocs %}
									<li>
										{% if doc.doc_type %}
											{{ doc.doc_type.name }}
										{% else %}
											Document
										{% endif %}
										<span class="doc-size">[{{ doc.document.size|filesizeformat }}]</span>
									</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</section>
	</div>
	{% endfor %}

	{% if bundle_returned.bundle_lectures %}
	<div class="row">
		<div class="col-md-12">
			<h4>Lectures</h4>
		</div>
	</div>
	{% endif %}

	{% for bundle in bundle_returned.bundle_lectures %}
	<div class="row">
		<section class="col-md-12">
			<ul>
				<li>{{ bundle.lecture.title }} 
					<span class="doc-size">[{{ bundle.lecture.presentation.size|filesizeformat }}]</span> 
					<a href="#" class="remove-from-bundle remove-from-bundle-link" data-bundleid="{{ bundle.bundle.id }}" data-lectureid="{{ bundle.lecture.id }}" title="Remove from bundle">
						[remove]
					</a>
					<ul>
						{% for doc in bundle.lecture.lectureDocs %}
						<li>
							{% if doc.doc_type %}
								{{ doc.doc_type.name }}
							{% else %}
								Document
							{% endif %}
							<span class="doc-size">[{{ doc.document.size|filesizeformat }}]</span>
						</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</section>
	</div>
	{% endfor %}

	{% if bundle_returned.bundle_lecture_documents %}
	<div class="row">
		<div class="col-md-12">
			<h4>Lecture Documents</h4>
		</div>
	</div>
	{% endif %}

	{% for bundle in bundle_returned.bundle_lecture_documents %}
	<div class="row">
		<section class="col-md-12">
			<ul>
				<li>{{ bundle.lectureDocument.title }} 
					<span class="doc-size">[{{ bundle.lectureDocument.document.size|filesizeformat }}]</span> 
					<a href="#" class="remove-from-bundle remove-from-bundle-link" data-bundleid="{{ bundle.bundle.id }}" data-lecturedocumentid="{{ bundle.lectureDocument.id }}" title="Remove from bundle">
						[remove]
					</a>
					<ul>
						<li class="doc-size">From the lecture: {{ bundle.lectureDocument.lecture.title }}</li>
						<li class="doc-size">From the module: {{ bundle.lectureDocument.lecture.module.title }}</li>
					</ul>
				</li>
			</ul>
		</section>
	</div>
	{% endfor %}

	{% if bundle_returned.bundle_lecture_slides %}
	<div class="row">
		<div class="col-md-12">
			<h4>Individual Lecture Slides</h4>
		</div>
	</div>
	{% endif %}

	{% for bundle in bundle_returned.bundle_lecture_slides %}
	<div class="row">
		<section class="col-md-12">
			<ul>
				<li>Slide From: {{ bundle.lectureSlide.lecture.title }} 
					<span class="doc-size">[{{ bundle.lectureSlide.presentation.size|filesizeformat }}]</span> 
					<a href="#" class="remove-from-bundle remove-from-bundle-link" data-bundleid="{{ bundle.bundle.id }}" data-lectureslideid="{{ bundle.lectureSlide.id }}" title="Remove from bundle">
						[remove]
					</a>
					<ul>
						<li class="doc-size">From the lecture: {{ bundle.lectureSlide.lecture.title }}</li>
						<li class="doc-size">From the module: {{ bundle.lectureSlide.lecture.module.title }}</li>
					</ul>
				</li>
			</ul>
		</section>
	</div>
	{% endfor %}

