{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}About GAHTC{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h1>Testimonials</h1>
			<blockquote>
				<p>You might be interested to learn that GAHTC workshop prompted ideas to establish a public humanities center [at Tufts University] in which questions of architecture, public space and historic preservation would figure prominently. The background for this is the current plan of Tufts, my university, to acquire the art school of the MFA. At the moment, the university is still in the process of exploring the benefits and risks of such a move. The excitement is tangible though... [and] the GAHTC experience inspired me to reach out to a number of people to brainstorm about the importance of teaching global architectural history in the wider context of a public humanities center or institute which could/should include artists working the realm of public art. It is too early to tell if these ideas will have any traction and / or yield anything substantial. But the GAHTC experience has made the exercise meaningful and stimulating.</p>
				<footer>Peter Probst Professor and Chair, Department of Art History  Adjunct Professor of Anthropology Tufts University</footer>
			</blockquote>
			<hr />
			<blockquote>
				<p>The GAHTC has already impacted my classroom as well as my research. Among the architecture history faculty at Savannah College of Art and Design, I am responsible for most of the surveys. Since we began this project I have altered almost all of them, using the format that Robert Cowherd and I have designed. My students are very excited to have up to date research.</p>
				<footer>Patrick D. Haughey, Ph.D. Professor, Department of Architecture History Savannah College of Art and Design</footer>
			</blockquote>
			<hr />
			<blockquote>
				<p>I began my interaction with the GAHTC as an outsider, but the experience has inspired me to invent a whole new course on the history of the city since 1500; I taught it for the first time to a class of 100 students last spring. The course was so successful that my colleagues are developing a parallel pre-1500 course, one that can also be modified for study abroad summer courses. Watching others present their lectures has made me think deeply about my pedagogy, and has improved my own presentations. I am now working with a group of architectural historians on a series of lectures on eastern and western crossroads from the late antique to the late medieval period, and greatly expanding my horizons as a result.</p>
				<footer>Suzanne Marchand Professor of History Louisiana State University</footer>
			</blockquote>
			<hr />
			<blockquote>
				<p>These sessions enhance my teaching by providing new examples, information about global architecture issues and demonstration of how architecture world-wide may be connected by purpose and impacted by international events/issues. I have specifically used examples presented in the lectures [in my own classroom] and always benefit from the opportunity to re-think what I am doing in light of others' work.</p>
				<footer>Judith Hull Architectural Historian Emerson College, Boston</footer>
			</blockquote>	
			<hr />	
			<blockquote>
				<p>I think this project is an ambitious and generous idea that allows everyone to understand "local" architecture and urban phenomena in a global perspective. That is remarkable.</p>
				<footer>Shariff S. Kahatt Faculty of the School of Architecture and Urbanism Pontifical University of Peru, Lima, Peru</footer>
			</blockquote>	
			<hr />	
			<blockquote>
				<p>Last week I presented one of my GAHTC colleague's lecture on Medieval Roads. The lecture was much more complex and richer than I had realized when I first read it for internal review and I could only get through 1/3 of it. But now that I have delivered it once, I know what slight adjustments to make to fit it to teaching method. This lecture is a scholarly piece of work as well as a lecture...I have three more lectures out this package yet to give, but I must say, they have raised the quality of my teaching considerably. I could have never done this on my own and without the structural support of GAHTC.</p>
				<footer>Shundana Yusaf Assistant Professor, History and Theory School of Architecture, University of Utah</footer>
			</blockquote>
		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
