{% extends 'website/base.html' %}
{% load staticfiles %}

{% block title %}Workshop{% endblock %}

{% block css_block %}
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<img class="img-responsive img-rounded marginBottom15" src="{% static 'website/css/images/workshop-mark-640px.jpg' %}" />		
			<h1>Teaching the Global History of Architecture Workshop, May 17-18, 2013, MIT</h1>
			<p><small>POSTED ON MAY 22, 2013</small></p>
			<p>
				A workshop organized by Mark Jarzombek and Jeffrey Ravel, funded by the Andrew W. Mellon Foundation, and held on May 17-18, 2013.
			</p>
			<h3>PARTICIPANTS</h3>
			<p>
				Carla Keyvanian (Auburn University, Auburn, AL)<br />
				Jonathan Reynolds (Barnard College, New York, NY)<br />
				Adnan Morshed (Catholic University, Washington, DC)<br />
				Sibel Zandi-Sayek (The College of William & Mary, Williamsburg, VA)<br />
				Mary Woods (Cornell University, Ithaca, NY)<br />
				Mechtild Widrich (E.T.H. Zurich, Switzerland)<br />
				Suzanne Marchand (Louisiana State University, Baton Rouge, LA)<br />
				Caroline Jones (MIT: Art History)<br />
				Anne McCants (MIT: History)<br />
				Nasser Rabbat (MIT: Islamic History)<br />
				Lucy M. Maulsby (Northeastern University, Boston, MA)<br />
				Meredith Tenhoor (Pratt Institute, New York, NY)<br />
				Gail Fenske (Roger Williams University, Bristol, RI)<br />
				Jonathan Massey (Syracuse University, Syracuse, NY)<br />
				Michelangelo Sabatino (University of Houston, Houston, TX)<br />
				Vikram Prakash (University of Washington, Seattle, WA)<br />
				Ann C. Huppert (University of Washington, Seattle, WA)<br />
				Robert Cowherd (Wentworth Institute of Technology)<br />
				Diana Martinez (Columbia Ph.D. Student)<br />
				Ginger Nolan (Columbia Ph.D. Candidate)<br />
				Morgan Ng (Harvard Ph.D. Student)<br />
				Olga Touloumi (Harvard Ph.D. Candidate)<br />
				Michael Kubo (MIT Ph.D. Student)<br />
				Ana Maria Leon (MIT Ph.D. Candidate)<br />
				Masha Panteleyeva (Princeton Ph.D. Candidate)<br />
			</p>
			<h3>OBSERVORS</h3>
			<p>
				Mariet Westermann (Andrew W. Mellon Foundation, New York, NY)<br />
				Hilary Ballon (Senior Advisor to the Mellon Foundation; New York University, New York, NY)
			</p>


		</div>
	</div>
</div>				
{% endblock %}

{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}
